<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuite name="Unit Tests">
        <directory>unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
        <directory>integration</directory>
    </testsuite>
</phpunit>