/* Colors 

Dark Gray = #333
Dark Blue = #38c
Medium Blue = #66a6d9
Medium Light blue = #99c4e6
Light Blue = #cce1f2
yellow = #fff09e

*/

/* == Generic =========================== */
body {font:62.5% Verdana,Helvetica, Arial, sans-serif; color:#555; background: #333;width:820px; margin:0 auto; padding: 20px 0;}

/* Headings */
h1,h2,h3,h4,h5,h6 {font-weight:normal; font-family:"Century Gothic",Futura, Verdana, sans-serif;}
h1 {text-transform:uppercase;}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* Links */
a:link {color:#38c;}
a:visited {color:#7DB3DF;}
a:hover {color:#7DB3DF;}
a:active {color:#38c;}
a img {border:none;}
h1 a, h2 a, h3 a {text-decoration:none;}

ul {list-style:none; margin-left:0; padding-left:0;}
/* Various Classes */
.navigation {list-style:none; margin-left:0; padding-left:0;}
	.navigation a {text-decoration:none;}

/* == Wrap =========================== */
#wrap {font-size:1.25em;background:#fff;}

/* == Header =========================== */
#header { background: #333; color:#fff; padding:0;}
	#header h1 {margin:0; padding-top:10px;margin-bottom:20px;}
	#header h1 a {text-decoration:none; color:#fff;}
	#primary-nav { background:#38c; overflow:hidden;padding:8px 0;margin-bottom:0;border-bottom:10px solid #66A6D9;}
		#primary-nav li {display:block; float:left;margin-right:1px;}
			#primary-nav a {padding:8px 12px; color:#fff;}
			#primary-nav a:link, #primary-nav a:visited {background: #38c;}
			#primary-nav a:hover, #primary-nav a:active {background: #66A6D9;}
			
#secondary-nav {background:#DBF0C2; margin:0; padding:10px 10px 0;}
	#secondary-nav li {display:inline;}
	
/* == Content =========================== */
#content {padding:0 20px;overflow:hidden; zoom:1;}
	#primary {display:block; float:left;}
	#secondary {display:block; float:right;}
	
	#primary {width:380px;}
	#secondary {width:380px;}
	
	#user-info {border:1px solid #fff09e; background:#FFF8CF;display:block; padding: 0 10px; margin-top:20px;}
	
	#omeka-news {}

	#recent-items li {border-bottom:1px dotted #ccc;overflow:hidden;padding:0.5em 0; margin-bottom:0;}
	#recent-items a {text-decoration:none;}
		#recent-items span.title {display:block; float:left;width:48%;}
		#recent-items span.date {display:block; float:right; width:48%;text-align:right;}
		
	
/* == Footer ============================ */
#footer {background: #333; border-top:10px solid #555;margin-top:10px; text-align:right; padding:10px 0;}