<phpunit bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true">
    <testsuites>
        <testsuite name="Integration Tests">
            <directory>integration</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
