[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = https://github.com/omeka/plugin-ExhibitBuilder.git
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = https://github.com/omeka/plugin-SimplePages.git
[submodule "themes/default"]
	path = themes/default
	url = https://github.com/omeka/theme-thanksroy.git
[submodule "themes/seasons"]
	path = themes/seasons
	url = https://github.com/omeka/theme-seasons.git
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = https://github.com/omeka/plugin-Coins.git
[submodule "themes/berlin"]
	path = themes/berlin
	url = https://github.com/omeka/theme-berlin.git
