# Root .htaccess should not be tracked.  Other htaccess files should be though.
/.htaccess

# Config files
/db.ini
/application/config/config.ini
/application/tests/config.ini

# Log files
/application/logs/errors.log
/application/logs/processes.log

# Plugins and themes
/plugins/
/themes/

# Archive
/archive/files/*
/archive/fullsize/*
/archive/square_thumbnails/*
/archive/theme_uploads/*
/archive/thumbnails/*

# For macs
.DS_Store

# For VIM
.*.sw*

# For Eclipse
.buildpath
.project
.settings/
