# Root .htaccess
/.htaccess

# php-cs-fixer cache
/.php_cs.cache

# dist directory
/dist/

# Composer vendor directory
/vendor/

# Composer lockfile
/composer.lock

# Config files
/db.ini
/application/config/config.ini
/application/tests/config.ini
/application/tests/.phpunit.result.cache

# Log files
/application/logs/errors.log
/application/logs/processes.log
/application/tests/log.xml

# Test files
/application/tests/_files/temp/

# Plugins and themes
/plugins/
/themes/

# Files
/files/original/*
/files/fullsize/*
/files/square_thumbnails/*
/files/theme_uploads/*
/files/thumbnails/*

# For macs
.DS_Store

# For VIM
.*.sw*

# For Eclipse
.buildpath
.project
.settings/
