[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = git://github.com/omeka/plugin-ExhibitBuilder
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = git://github.com/omeka/plugin-SimplePages
[submodule "themes/default"]
	path = themes/default
	url = git://github.com/omeka/theme-thanksroy
[submodule "themes/seasons"]
	path = themes/seasons
	url = git://github.com/omeka/theme-seasons
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = git://github.com/omeka/plugin-Coins
[submodule "themes/berlin"]
	path = themes/berlin
	url = git://github.com/omeka/theme-berlin.git
