/* Generic styles
------------------------------------------*/

*, html, body {margin:0; padding:0;}

body { margin: 0 auto; font: 62.5% Verdana,Helvetica, Arial, sans-serif; color: #555; padding-top: 20px;background: #BEE390; background: #e5e5e5; width: 96em;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
h1 {font-size:2.4em;}
h2 {font-size:2em; margin: 0.5em 0;}
h3 {font-size:1.6em; font-family: "Century Gothic", Verdana, sans-serif; text-transform: lowercase;line-height: 1em; border-left: 1em solid #ddd; padding-left: 0.25em; margin: 1em 0 0.25em;}
h4 {font-size:1.5em;}
h5 {font-size:1.3em; font-weight:bold;}
h6 {font-size:1.3em; font-style:italic;}
p,ul,ol,textarea {font-size: 1.3em;}
a:link, a:visited {color: #5A9433;}
a:hover, a:active {color: #71B033;}
ul,ol {list-style: none;}

h1, h2,legend {font-family: "Century Gothic", sans-serif;}
a img, :visited img {border: none;}

.form-error { color: red; font-size: 1.2em;}

table {font-size: 1.2em; width: 70em; margin: 0 1em 1em;}
th {text-align:left;padding: 1em;}
thead {padding: 1em 0; background: #FFF09E;}
td {text-align:left; padding: 1em; border-bottom: 1px solid #fff;}
tbody tr { background: #f3f3f3;padding: 1em 0;}

/* Tags */
ul.tags {list-style: none;}
ul.tags li {display: inline;}

ul.tags span.remove-tag {vertical-align: super;}
span.remove-tag a {text-decoration: none; padding: 0;line-height: 0; background: #fff;}

ul#navigation, ul.navigation, ul.item-nav {list-style: none; display: block; width: auto;}
ul#navigation li, ul.navigation li, ul.item-nav li {display: inline;}
ul#navigation li.current a {background: #DBF0C2;}
ul.navigation a {text-decoration: none;}
ul.subnav {display: block;padding: 0.75em 2em; background: #DBF0C2;margin-bottom: 1em;font-size: 1.1em;}
ul.subnav li {margin-right: .2em;}
ul.subnav a {color: #333; padding: 0.75em 1.25em; text-decoration: none;}
ul.subnav a:link, ul.subnav a:visited {background: transparent;}
ul.subnav a:hover, ul.subnav a:active {background: #CCE9A8;}
ul.subnav li.current a {background: #fff;}

ul.item-nav {display: block; float: left; clear: both; padding: 1em 0;width: 35em;}
ul.item-nav .previous {float: left;}
ul.item-nav .next {float: right; }

/* Forms */
fieldset {border: none; margin: 1em 0;}
legend {display: block; text-transform: lowercase;font-size: 1.8em; margin-bottom: 0.5em;line-height: 1em; border-left: 1em solid #ddd; padding-left: 0.25em;}
input.textinput, textarea,label {display: block;}
label {width: 20em;}
input.textinput, textarea {width: 18em; border: 1px solid #d7d7d7; font:1.3em Verdana,sans-serif; padding: 5px;background: #f9f9f9;}
input.textinput:focus, textarea:focus {background: #fff;}
textarea {height: 10em;font: 1.3em Verdana, sans-serif;}
.inputReadOnly { background-color: #eee; cursor: none; border: 1px solid #ccc; padding: 4px;}

select#featured {width:150px;}
#editfile fieldset, #item-addedit fieldset {display: block;float: left;width: 30em; margin: 2em;}

#item-limit label {display: none;}

/* Page
--------------*/
#page {width: 94em;display: block;float: left; padding: 1em;background: #fff;}

/* Header 
-----------------*/
#header {background:#8c3; padding: 2em 2em 0; border-bottom: 1em solid #DBF0C2;}
#header h1 {margin-bottom: 1em; font-size: 3em; color: #fff; text-transform: uppercase;}
#navigation {padding: 0.5em 0;}
#navigation a {text-decoration: none;padding: 0.5em 1em; color: #363;}
#navigation a:link, #navigation a:visited {background: #A0D65C;}
#navigation a:hover, #navigation a:active {background: #B8E085;}
#navigation li.current a
 {background: #fff;}

/* Content 
-----------------*/
#content {display: block;float: left; width: 94em;padding: 0;background: #fff;clear: both;}
#primary, #secondary {display: block;}
#primary {float: left; width: 45em;}
#secondary {float: right;width: 45em;}

/* Items View page */

.item {padding: 1em; border-bottom: 1px solid #8c3;margin: 0.5em 0;}
.item h3 {margin: 0; border-left: 1em solid #71B033; text-transform: none;}
.item h3 a {text-decoration: none;}
.item-title {display: block;margin-bottom: 0.5em;}
.item-title h3, .item-title span.edit {display: inline;}
.item-title .edit a {padding: 0.25em; color: #fff; background: #606060; text-decoration: none;}
.item-title .edit a:hover {background: #777;}

/* Individula item show page */
#item {clear: both;}
.metadata-list dl {display: block; padding: 0.5em 0.25em; background: #eee; width: auto;margin-bottom: 1px; font-size: 1.2em;}
.metadata-list dt, .metadata-list dd {display: inline;}
.metadata-list dd {font-weight: bold;}

.tags {background: #eee; padding: 0.5em 0.25em;}
.tags a {}

a.mark {font-size: 1.5em; text-decoration: none;}
#mark-favorite,#mark-featured,#mark-public {margin: 1em 0;}
/* File view page */
#image {display: block;float: right;}
div.section dl {font-size: 1.3em; clear: both;display: block;float: left; width: 34em;padding: 0.5em 0; border-bottom: 1px dotted #ccc;}
div.section dt {font-weight: bold;float: left;}
div.section dd {width: 22em; float: right;}

#core-metadata,#format-metadata, #type-metadata {display: block; clear: left;float: left; width: 40em;}
#file-history {display: block; float: right; width: 40em;clear: left;}

/* Footer
---------------*/
#footer {clear: both; padding: 2em; background: #8c3; border-top: 0.5em solid #363;color: #555;}
#footer p {margin: 0; padding: 0;}
#footer a {color: #555;}