/* Generic styles
------------------------------------------*/

*, html, body {margin:0; padding:0;}

body { margin: 0 auto; font: 62.5% Verdana,Helvetica, Arial, sans-serif; color: #555; background: #999; border-top: 6px solid #8c3;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
h1 {font-size:2em;}
h2 {font-size:1.8em;}
h3 {font-size:1.6em; font-weight:bold;}
h4 {font-size:1.4em;}
h5 {font-size:1.2em; font-weight:bold;}
h6 {font-size:1.1em; font-style:italic;}

p,ul,ol,textarea {font-size: 1.3em;}
label {font-size: 1.2em; font-weight:normal;}

a:link, a:visited {color: #853;}
a:hover, a:active {color: #8c3;}

div.container {background: #fff; display:block;float:left;padding: 20px; width: 660px;margin:0;}

/* Page styles
------------------------------------------*/
#page { }


/* Header styles
------------------------------------------*/
#header { background: #fff; color: #888;display:block;}
#header h1 {margin:0 auto;width: 700px;text-transform:uppercase; background: #fff;font-size: 3em;display:block; padding: 40px 0; text-align:right; color: #888; font-family: "Century Gothic", Verdana, sans-serif;}
#navigation {margin:0 auto;width: 660px; display:block;background: #38c; padding: 6px 20px; font-size: 1.1em;}
#navigation li {display:inline;margin:0; padding:0;}
#navigation li a {padding: 8px; color: #fff; text-decoration:none; border:1px solid #38c;}
#navigation a:link, #navigation a:visited {color: #fff;border:1px solid #38c;}
#navigation a:hover, #navigation a:active {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}

#navigation form { display: inline; }
#navigation button { color: #fff; padding: 6px; border: 1px solid #38c; background: #38c; font-size: 1em; cursor:pointer;}
#navigation button:hover { color: #fff; font-size: 1em; background: #4693D1;border-top: 1px solid #38c; cursor:pointer;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1; }

#welcome #navigation #nav-welcome a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#categories #navigation #nav-categories a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#objects #navigation #nav-objects a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#collections #navigation #nav-collections a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#contributors #navigation #nav-contributors a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#users #navigation #nav-users a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#tags #navigation #nav-tags a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}
#account #navigation #nav-myarchive a {color: #fff; background: #4693D1;border-right: 1px solid #3379B0; border-bottom: 1px solid #3379B0;border-top: 1px solid #4693D1; border-left: 1px solid #4693D1;}

#header #loginform {display:block; background: #eed; border: 1px solid #333; display:none;}
#loginform label, #loginform input {display:block;}

#object-all {display:block; float:left; width: 660px; background: #fff; padding: 10px 20px;}
/* Sub Navigation
------------------------------------------*/
#sub-navigation {margin:0; width: 660px; height: 12px; display:block;background: #333; padding: 10px 20px; font-size: 0.9em;}
#sub-navigation li {display:block; float:left;margin:0; padding:0;margin-right: 8px;}
#sub-navigation li a {padding: 2px; display:block; float:left;color: #fff; text-decoration:none;}
#sub-navigation li a:link, #sub-navigation li a:visited {color: #fff;}
#sub-navigation li a:hover, #sub-navigation li a:active {color: #fff; }
#sub-navigation li.selected a {border-bottom: 5px solid #fff;}

/* Content styles
------------------------------------------*/
#content {width: 700px; padding: 0; margin: 0 auto;display:block;  background: #fff;}
#content fieldset {border:none;text-decoration:none; border-top: 1px dotted #ccc; border-left: 1px dotted #ccc; margin-bottom: 20px; padding:20px;}
#content textarea, #content input {border: 1px solid #999; padding: 2px 4px;}
#content p {margin-bottom: 20px;}
#content p.instructionText {margin-bottom: 10px; font-style:italic;}
#content h3 {margin-bottom: 10px;}

div.object {display:block; margin: 20px 0; border: 1px solid #BBD9EE; float:left;}
div.object h3 a {color:#36c; text-decoration:none;}
div.object h3 a:hover {color:#38c; text-decoration:underline;}
div.object-bar {background: #BBD9EE; padding: 4px; color: #369;}
div.meta, div.details {display:block;}
div.meta {background: #E7F1F8; width: 160px; float:left; padding: 4px; border: 1px solid #ccc; margin: 8px; }
div.meta h3 {font-weight:normal; font-size: 2em; margin-bottom: 10px; color: #36c;}
ul.object-metadata { margin: 6px 0;}
ul.object-metadata li, ul.tags li {list-style-type: none;}
ul.tags li {font-size: 1em; margin-bottom: 10px; display:inline;}
div.details {width: 452px; float:right; background: #fff;margin: 8px;}
div.details img.thumbnail {display:block; margin-bottom: 10px; background: #eee; margin-left: 10px;}
p.description {line-height: 2em; font-size: 1.2em; background: transparent; padding:10px; margin: 8px;}
p,h3,li {margin-bottom: 10px;}
span.thumbnail-container {float:right;}
img.thumbnail {background: #eee; margin-left: 10px;}
div.object-tags {clear:both; margin: 6px;}
div.object-tags ul.tags {background: #ffffce;padding: 10px;}
#object-nav-wrapper {margin: 20px 0;}
#mytags {width: 620px; clear:both; background:#FFF09E; display:block; float:left;margin: 0;padding:10px 20px; margin-bottom: 10px;}
#my-tags {width: 226px; clear:both; background:#ffffce;margin: 10px 0;padding:10px;}
#my-contributions {width:318px; float:left;}
#my-favorites {width:318px; float:right;}

#my-contributions div.object {border: 1px solid #BBD9EE; padding: 10px;margin: 10px 0; width: 295px;background: #E7F1F8;}
#my-favorites div.object {border: 1px solid #ccc; padding: 10px;width: 295px;margin: 10px 0; background: #eee;}

#mark-favorite, #mark-featured {display:block; float:left; width: 120px;margin-bottom: 20px;}
#object-dublin-core {clear:left; margin-top: 20px;}

/* Footer styles
------------------------------------------*/
#footer {display:block; width: 660px; clear:left;background: #fff; padding: 10px 20px; border-top: 1px dotted #ccc !important; margin:0 auto;}
#footer p { padding: 10px;}

#flash {display:block; border: 1px solid #8c3; color: #555; font-size: 1.3em;padding: 10px 20px; margin-bottom: 20px;} /* Notice that things went ok */
#error {display:block; border: 1px solid red; color: red; font-size: 1.3em;padding: 10px 20px; margin-bottom: 20px;} /* things aren't ok...error alert. */

.clear {clear:both;}
.form-error { color: red; font-size: 1.2em;}

#contributors-form input, #contributors-form label { display:block;  margin: 10px 0;}
#contributors-form input[type="radio"] {display:inline; margin:0; padding:0; }
#contributors-form label.radiolabel {margin:0;}

input[type="submit"] {margin-left: 20px !important;}