.gallery-full-right .primary {float:right; overflow:hidden; width:48%;}
.gallery-full-right .secondary {float:left; width:48%;}
.gallery-full-right .gallery .exhibit-item {float:left; margin-right:18px; margin-bottom:18px; overflow:hidden;}
#item-full-text {clear: both; padding-top: 2em;}