@font-face{
    font-family:lg-omeka;
    src:
        url(../fonts/vendor/lightgallery/lg.woff2?io9a6k) format("woff2"),
        url(../fonts/vendor/lightgallery/lg.ttf?io9a6k) format("truetype"),
        url(../fonts/vendor/lightgallery/lg.woff?io9a6k) format("woff"),
        url(../fonts/vendor/lightgallery/lg.svg?io9a6k#lg) format("svg");
}

#itemfiles {
    overflow: hidden;
}

.lg-icon {
    font-family: lg-omeka !important;
}