#itemfiles.lightgallery {
    overflow: hidden;
    height: 50vh;
    margin-bottom: 1rem;
}

.other-files-link img {
    height: 2rem;
    width: auto;
    margin-right: .5rem;
    box-shadow: 0 0 0 1px #dfdfdf;
}
