* {margin: 0; padding: 0;}
body {font:62.5% "Lucida Grande",Verdana, Arial, Helvetica, sans-serif; background:#eae9db;color: #333;width:80%;margin:36px auto; min-width: 500px;}
h1 {font-weight:normal; font-size:2.4em; margin-bottom:1em; line-height:1.5em;color:#a74c29;}
h2, legend {font-size:1.8em; font-weight:normal; line-height:1.2em; margin-bottom:1.2em;color:#333;}
h3 {font-size:1.4em; line-height:1.2em; margin-bottom:0.4em;}
#content {background:#fff;padding: 20px;}
p {font-size:1.2em; line-height: 1.5em; margin-bottom:1.5em;}
a:link {color:#389;}
a:visited {color:#389;}
a:hover {color:#369;}
a:active {color:#555;}
h3.error,h3.validation-error {color:#900;}
h3.warning {color:#c70;}
ol {font-size:1.4em; margin-left:18px;}
ol li h3 {font-size:1.0em;}
ol li p {font-size:0.9em;}
fieldset {border:0; border-top: 1px dotted #dddad3; padding: 1.8em 0;}
legend {font-size:1.2em; font-weight: bold; margin-bottom: -0.2em;, background: #fff; padding-right: 12px;}
label,input,textarea {display: block;}
label {float: left; clear: left; width: 126px; font-size: 1.1em; text-align: right;}
label.required:before {content: "* ";}
input.textinput,textarea {float: right; clear: right; width: 404px; border: 1px solid #dddad3; padding: 4px;}
input.checkbox {float:left; margin-left: 18px;}
form div {overflow: hidden; margin-bottom: 8px;}
form div p {clear: both; margin-left: 144px; margin-bottom: 0; font-size: 1.1em; color: #777;}
form div ul.errors{list-style: none; clear: both; margin-left: 144px; margin-bottom: 0; font-size: 1.1em; color: #900;}
#required-note {font-size: 0.6em; color: #777; display: block;}
#install_submit {font-size: 1.3em; float: right; margin-left: 144px; background:none; color:#fff;border:none;width: 100px; height: 30px; _overflow:hidden; background:#333 url("buttons-medium.gif") 0 -60px no-repeat !important;}
#install_submit:hover {background-position:0 0 !important;cursor:pointer;}
textarea {height: 100px;}

a.button {
    text-align:center;
    text-decoration:none; 
    margin:9px 0;
    font-size:1.2em;
    font-weight:bold;
    background-color: #6D8E1D; 
    color:#fff;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.25);
    padding: 8px 14px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88A346), to(#50610F));
    background-image: -moz-linear-gradient(0 100% 90deg, #88A346, #50610F);
    border:1px solid #6D8E1D;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    -o-border-radius:18px;
    border-radius:18px;
}

a.button:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6D8E1D), to(#50610F));
    background-image: -moz-linear-gradient(0 100% 90deg, #6D8E1D, #50610F);
}

pre {
    font-size: 1.5em;
    font-family: monospace;
}

pre#backtrace {
    border:1px solid #dddad3;
    padding: 20px;
    overflow-x:scroll;
}

#error-message dt {
    font-size:1.2em;
    line-height: 1.6667em;
    font-weight:bold;
}

#error-message dd {
    margin-left: 1.6667em;
}

#error-message dd p:before {
    content: " - ";
}