@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInOut {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fade {
  opacity: 0;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.fade-delay-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.fade-delay-15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.fade-delay-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.in {
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-iteration-count: 1; }

.in-out {
  -webkit-animation-name: fadeInOut;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  animation-name: fadeInOut;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-iteration-count: 1; }

* {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #232323; }

h1,
h1 a:link {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none; }

h2,
h2 a:link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none; }

h3,
h3 a:link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; }

dt {
  font-weight: bold; }

a:link {
  color: #003576;
  text-decoration: underline;
  transition: 0.5s all; }

a:hover,
a:active,
a:visited {
  color: #000710; }

p,
li {
  line-height: 1.5em; }

li:empty {
  display: none; }

.subhead {
  position: relative; }
  .subhead h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

body {
  background: #F5f5f5;
  padding: 0;
  margin: 0; }

hr {
  border-bottom: none;
  border-top: 1px solid #eee;
  margin: 30px 0; }

@media (min-width: 1440px) {
  .container {
    width: 1240px; } }
@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    width: 1240px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 1000px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px; } }
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; } }
@media (min-width: 1200px) and (max-width: 1250px) {
  .container {
    width: 1160px; } }
@media (min-width: 992px) and (max-width: 1020px) {
  .container {
    width: 940px; } }
@media (min-width: 768px) and (max-width: 790px) {
  .container {
    width: 740px; } }
@media (min-width: 1440px) {
  .container .ten.columns {
    width: 1040px; } }
@media (min-width: 1200px) and (max-width: 1439px) {
  .container .ten.columns {
    width: 1040px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container .ten.columns {
    width: 840px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container .ten.columns {
    width: 600px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container > .offset-by-two {
    margin-left: 170px; } }
@media (min-width: 1200px) and (max-width: 1250px) {
  .container > .offset-by-two {
    margin-left: 190px; } }
@media (min-width: 992px) and (max-width: 1020px) {
  .container > .offset-by-two {
    margin-left: 160px; } }
@media (min-width: 1200px) and (max-width: 1250px) {
  .container .ten.columns {
    width: 930px; }
  .container .nine.columns {
    width: 88%; }
  .container .eight.columns {
    width: 78%; }
  .container .seven.columns {
    width: 68%; }
  .container .six.columns {
    width: 58%; }
  .container .five.columns {
    width: 48%; }
  .container .four.columns {
    width: 38%; }
  .container .three.columns {
    width: 28%; }
  .container .two.columns {
    width: 18%; }
  .container .one.columns {
    width: 8%; } }
@media (min-width: 992px) and (max-width: 1020px) {
  .container .ten.columns {
    width: 780px; }
  .container .nine.columns {
    width: 88%; }
  .container .eight.columns {
    width: 78%; }
  .container .seven.columns {
    width: 68%; }
  .container .six.columns {
    width: 58%; }
  .container .five.columns {
    width: 48%; }
  .container .four.columns {
    width: 38%; }
  .container .three.columns {
    width: 28%; }
  .container .two.columns {
    width: 18%; }
  .container .one.columns {
    width: 8%; } }
@media (min-width: 768px) and (max-width: 790px) {
  .container .ten.columns {
    width: 540px; }
  .container .nine.columns {
    width: 88%; }
  .container .eight.columns {
    width: 78%; }
  .container .seven.columns {
    width: 68%; }
  .container .six.columns {
    width: 58%; }
  .container .five.columns {
    width: 48%; }
  .container .four.columns {
    width: 38%; }
  .container .three.columns {
    width: 28%; }
  .container .two.columns {
    width: 18%; }
  .container .one.columns {
    width: 8%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container .seven.columns, .container .six.columns, .container .five.columns, .container .four.columns, .container .three.columns, .container .two.columns {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    #login .container .seven.columns,
    #login .container .six.columns,
    #login .container .five.columns,
    #login .container .four.columns,
    #login .container .three.columns,
    #login .container .two.columns {
      width: 100% !important; } }
@media (max-width: 767px) {
  .container .ten.columns, .container .nine.columns, .container .eight.columns, .container .seven.columns, .container .six.columns, .container .five.columns, .container .four.columns, .container .three.columns, .container .two.columns {
    width: 100%; }
    #login .container .ten.columns,
    #login .container .nine.columns,
    #login .container .eight.columns,
    #login .container .seven.columns,
    #login .container .six.columns,
    #login .container .five.columns,
    #login .container .four.columns,
    #login .container .three.columns,
    #login .container .two.columns {
      width: 100% !important; } }

.section-title {
  width: 50%; }
  @media (max-width: 767px) {
    .section-title {
      width: 100%;
      margin-top: 80px; } }

.right {
  float: right; }

.left {
  float: left; }

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: 5px auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: 50%;
  transform: translateX(-25%); }
  #skipnav:focus {
    top: 0;
    z-index: 10000;
    clip: initial;
    height: auto;
    color: #fff;
    width: auto;
    padding: .5em;
    border: 1px blue dashed;
    background: #000; }

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

img {
  border: 0; }

.image {
  display: block;
  overflow: visible;
  float: left;
  margin-right: 14px; }
  .image img {
    width: 50px;
    height: auto;
    float: left; }

dt {
  margin-top: 20px; }

dd {
  margin-top: 10px; }

.exhibit .image,
.collection .image {
  -webkit-box-shadow: -6px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -6px -6px rgba(0, 0, 0, 0.1);
  box-shadow: -6px -6px rgba(0, 0, 0, 0.1);
  margin: 6px 10px 0 6px; }

.collection .image img,
.exhibit .image img {
  width: 48px;
  -webkit-box-shadow: -3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: -3px -3px rgba(0, 0, 0, 0.2); }

#info-field {
  word-wrap: break-word; }

#upgrade #content {
  margin-top: 10%; }
#upgrade a.button {
  float: left;
  margin: 0; }

.ui-icon.ui-icon-closethick,
.ui-icon.ui-icon-close {
  filter: brightness(10);
  text-indent: 0; }
  .ui-icon.ui-icon-closethick:before,
  .ui-icon.ui-icon-close:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d"; }

#content {
  margin-top: 60px; }
  @media (max-width: 767px) {
    #content {
      margin-top: 8.5 10px; } }
  #content h1:first-child,
  #content h2:first-child {
    margin-top: 0; }
  #content section:first-of-type {
    min-height: 1px; }
  #content .content-wrapper {
    background: white;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 9;
    position: relative; }

.panel {
  width: 100%;
  background-color: #fff;
  border: 1px solid #E4E5DE;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  padding: 20px 20px 0;
  overflow: hidden;
  word-wrap: break-word; }
  .panel:first-child {
    margin-top: 0; }
  .panel h1,
  .panel h2,
  .panel h3,
  .panel h4 {
    margin: 0; }
  .panel ul {
    padding: 0 0 0 20px; }
  .panel a.button,
  .panel input[type=submit],
  .panel button {
    margin-bottom: 10px;
    width: 100%; }
  .panel .button:last-child {
    margin-bottom: 20px !important; }

.admin-thumb.panel img {
  max-width: 100%;
  padding-bottom: 10px;
  vertical-align: bottom; }

.recent-row {
  border-bottom: 1px solid #e7e7e7;
  overflow: auto;
  margin: 12px 0; }
  .recent-row p {
    margin: 0 0 10px 0; }

.recent {
  width: 75%;
  float: left;
  margin: 0; }

.dash-edit {
  float: right;
  margin: 0; }

.ui-dialog {
  border: none !important;
  border-radius: 0 !important;
  padding: 0; }
  .ui-dialog .ui-dialog-titlebar {
    background: #82423B;
    border: none;
    border-radius: 0;
    padding: 10px 20px; }
    .ui-dialog .ui-dialog-titlebar * {
      color: white; }

#login #content,
#debug #content {
  margin-top: 10%;
  text-align: center;
  background: white;
  padding: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  @media (max-width: 767px) {
    #login #content,
    #debug #content {
      max-width: 260px; } }
#login .errors,
#debug .errors {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left; }
  #login .errors li,
  #debug .errors li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #E7E7E7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #914E33;
    margin: 0;
    padding: .5em; }
#login #forgotpassword,
#debug #forgotpassword {
  clear: both; }
#login .field label,
#debug .field label {
  min-width: 0;
  padding: 0; }
#login #flash,
#debug #flash {
  margin: 0 10px; }
#login input[type=text],
#login input[type=password],
#debug input[type=text],
#debug input[type=password] {
  width: 100%; }
#login h1,
#debug h1 {
  width: 100%;
  color: #939393;
  clear: both;
  padding: 0;
  height: 53px;
  line-height: 53px;
  margin: 20px 0 0 0;
  display: inline-block; }
#login h2,
#debug h2 {
  margin: 1em 0; }
#login label,
#debug label {
  text-align: left; }
#login .login-footer,
#debug .login-footer {
  clear: both;
  padding: 10px 0;
  text-align: center; }
#login #remember,
#debug #remember {
  display: inline-block;
  margin: 0; }
#login #fieldset-login,
#debug #fieldset-login {
  text-align: left; }
#login .submit,
#login #login-links,
#debug .submit,
#debug #login-links {
  clear: both; }
#login pre,
#debug pre {
  font-family: monospace;
  padding: 1rem;
  border: 1px solid #E4E5DE;
  overflow-x: scroll;
  text-align: left; }

/*# sourceMappingURL=style.css.map */
