/* Table of Contents
==================================================
    #Basic Styles    
        #Tables
        #Form Elements
            #Buttons
            #Checkboxes
        #Alerts
    #Global Navigation
    #Content Navigation
    #Save Panel
    #Content
        #Dashboard
        #Browse Plugins
        #Edit User
        #Browse Items
        #Show Item
        #Batch Edit Items
        #Edit Item
        #Show File
        #Tags
        #Advanced Search
        #Show Collection
        #Browse Item Types
        #Browse Element Sets
        #Browse Themes
        #System Information */
        
        
/* Basic Styles
================================================== */

body {
    background-image: url('../images/bg.jpg');
    color: #4C3939;
    font-family: "Cabin", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Arvo", serif;
    font-size: 1.75em;
    font-weight: normal;
}

h2 { font-size: 21px; }
    
h3 {
    font-size: 21px;
    font-weight: normal;
}
    
h4 { font-size: 16px; }
    
h5 { font-family: "Arvo", serif; }

a:link {
    color: #B86644;
    text-decoration: none;
}
    
    a:hover, a:active { color: #E57F52; }
        
    a:visited { color: #A28E8A; }
    
p, li {
    font-size: 14px;
    line-height: 1.5em;
}
            
        li:empty { display: none; }
    
.serif {
    font-family: "Arvo", serif;
    font-weight: normal;
}

.section-title { width: 50%; }
    
.right { float: right; }
    
.left { float: left; }


    /* Tables 
    ================================================== */
    
    table {
        width: 100%;
        border-collapse: collapse;
        clear: both;
        margin-bottom: 16px;
    }
    
    th {
        background-color: #D8CFB6;
        border: 1px solid #E4DECE;
        font-size: 14px;
        padding:  .25em .625em;
        text-align: left;
        font-weight: normal;
    }
        
        th a:after {
            width: 10px;
            height: 10px;
            content: url('../images/sort.png');
            display: inline-block;
            line-height: 10px;
            margin: 0 0 0 5px;
        }
        
        th a:link, th a:visited { color: #857541; }
        
        th.sorting { font-weight: bold; }
        
        th.desc a:after { content: url('../images/desc.png'); }
        th.asc a:after { content: url('../images/asc.png'); }
    
    tr { background-color: rgba(255,255,255,.5); }
        
    td {
        border: 1px solid #E4E5DE;
        font-size: 14px;
        padding: .625em;
        vertical-align: top;
    }
    
        .even td {
            background-color: #F3F3E7;
        }
        
        .odd td {
            background-color: #fff;
        }
    

    .action-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .action-links a { color: #4E7181; }

        .action-links li { display: inline-block; }

            .action-links li:after { content: ' \00b7'; }

            .action-links li:last-child:after { content: ''; }
        
    #batch-edit-heading {
        width: 1%;
        text-align: center;
    }
    


    .details {
        background-color: #fff;
        border: 1px solid #E4E5DE;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-top: .5em;
        padding: .5em;
    }
        
        .details p { margin: 0; }
        
        .details ul { 
            margin-bottom: 0; 
            padding: 0 0 0 20px; 
        }
        
    .featured { background: url('../images/featured-bg.png') no-repeat right bottom; }
    
        .odd td.featured { background-color: #FFFFFF; }
    
        .even td.featured { background-color: #F3F3E7; }
        
    .inactive { opacity: .65; }

    .mobile { display: none; }
    
    
    /* Form elements 
    ================================================== */
    
    form, fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
        
    legend {
        font-size: 21px;
        font-weight: normal;
        margin-bottom: 16px;
        padding: 0;
    }
                
    select {
        min-width: 120px;
        background: #e2e2e2; /* Fallback */
        background: url('../images/dropdown-arrow.png') no-repeat right center; /* Fallback */
        background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
        background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top, #f8f8f8, #e2e2e2);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -ms-linear-gradient(top, #f8f8f8, #e2e2e2);
        background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(top, #f8f8f8, #e2e2e2);
        border: 1px solid #D8D8D8;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        font-family: "Cabin", sans-serif;
        color: #666666;
        overflow: hidden;
        font-size: 14px;
        padding: 5px 16px;
    }
        
    input[type=text], input[type=password] {
        height: 30px;
        border: 1px solid #d8d8d8;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 .375em #d6d6d6 inset;
        -moz-box-shadow: 0 0 .375em #d6d6d6 inset;
        box-shadow: 0 0 .375em #d6d6d6 inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #666666;
        font-family: "Cabin", sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 10px 0;
        padding: 5px 10px;
    }
        
        input[type=text].big {
            font-size: 14px;
            padding: .375em;
        }
            
        input[type=text].small {
            font-size: 14px;
            padding: 0;
        }
    
    .field {
        clear: both;
    }
            
        .field label {
            clear: left;
            font-size: 14px;
            font-weight: bold;
            float: left;
            margin: 0 0 10px 0;
            min-width: 120px;
            padding: 7px 0;
        }
            
        .field select {
            min-width: 100%;
            margin-bottom: 10px;
        }

    .inputs {
        margin: 0 0 20px 0;
    }
            
        .inputs select {
            margin-top: 0;
        }
        
        
        .inputs input[type=text], .inputs input[type=password], .inputs textarea {
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            
        .inputs inputs a.button, .inputs input[type="submit"], .inputs button {
            margin-bottom: 10px;
        }
        
    .required:after {
        content: "*";
    }
        
    textarea {
        border: 1px solid #d8d8d8;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 .375em #d6d6d6 inset;
        -moz-box-shadow: 0 0 .375em #d6d6d6 inset;
        box-shadow: 0 0 .375em #d6d6d6 inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #666666;
        font-family: "Cabin", sans-serif;
        font-size: 14px;
        padding: 5px 10px;
    }
                
        /* Buttons 
        ================================================== */
            
        a.button, input[type=submit], button {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4C637), color-stop(100%,#75940A));
            background: -moz-linear-gradient(center top, #A4C637 0%, #75940A 100%);
            -webkit-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
            -moz-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
            box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
            border: 1px solid #749308;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            font-family: "Cabin", sans-serif;
            font-size: 14px;
            display: inline-block;            
            margin: 0 5px 20px 0;
            line-height: 25px;
            min-height: 25px;
            padding: 0 10px;            
            text-align: center;
            text-shadow: -1px -1px 1px rgba(0,0,0,.5);
        }
        
            a.button[disabled], input[type=submit][disabled], button[disabled] { 
                cursor: default;
                opacity: .35; 
            }
            
        a.button.big, input[type=submit].big, button.big {
            height: 32px;
            display: block;
            line-height: 32px;
            font-family: "Arvo",serif;
            font-size: 16px;
            margin: 10px auto;
        }
            
        a.button.small, input[type=submit].small, button.small {
            height: 23px;
            font-family: "Cabin", sans-serif;
            font-size: 14px;
            display: inline-block;            
            margin: 0 5px 20px 0;
            padding: 0 10px;
        }
            
        a.button.blue, input[type=submit].blue, button.blue {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22546b), color-stop(100%,#102d3b));
            background: -moz-linear-gradient(center top, #22546b 0%, #102d3b 100%);
            -webkit-box-shadow: 0px 1px 0px 0px #526c80 inset, 0px -1px 0px 0px #142233 inset, 0px 2px 2px 0px #d4d4d4;
            -moz-box-shadow: 0px 1px 0px 0px #526c80 inset, 0px -1px 0px 0px #142233 inset, 0px 2px 2px 0px #d4d4d4;
            box-shadow: 0px 1px 0px 0px #526c80 inset, 0px -1px 0px 0px #142233 inset, 0px 2px 2px 0px #d4d4d4;
            border: 1px solid #11303F;
        }
            
        a.button.red, input[type=submit].red, button.red {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad6345), color-stop(100%,#7d422a));
            background: -moz-linear-gradient(center top, #ad6345 0%, #7d422a 100%);
            -webkit-box-shadow: 0px 1px 0px 0px #b87979 inset, 0px -1px 0px 0px #5e3030 inset, 0px 2px 2px 0px #d4d4d4;
            -moz-box-shadow: 0px 1px 0px 0px #b87979 inset, 0px -1px 0px 0px #5e3030 inset, 0px 2px 2px 0px #d4d4d4;
            box-shadow: 0px 1px 0px 0px #b87979 inset, 0px -1px 0px 0px #5e3030 inset, 0px 2px 2px 0px #d4d4d4;
            border: 1px solid #7E432C;
        }
            
        a.button.green, input[type=submit].green, button.green {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4C637), color-stop(100%,#75940A));
            background: -moz-linear-gradient(center top, #A4C637 0%, #75940A 100%);
            -webkit-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
            -moz-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
            box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
            border: 1px solid #749308;
        }
            
        /* Checkboxes 
        ================================================== */
        
        input[type="checkbox"] {
            margin: 10px;
        }


        /* Alerts
        ================================================== */
        
        #content #flash ul {
            list-style-type: none;
            margin-top: 0;
            padding: 0;
        }
            
            #content #flash li {
                background-color: rgba(255, 255, 255, .5);
                border: 1px solid #E7E7E7;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                font-size: 14px;
                margin-bottom: 20px;
                padding: .5em;            
            }
        
        .success {
            color: #729108;
        }
            
        .error, .alert {
            color: #914E33;
        }


/* Global Navigation 
================================================== */

header {
    width: 100%;
    background-color: #2A2520;
    -webkit-border-image: url('../images/red-bg.jpg') 5 repeat;
    -moz-border-image: url('../images/red-bg.jpg') 5 repeat;
    -o-border-image: url('../images/red-bg.jpg') 5 repeat;
    border-image: url('../images/red-bg.jpg') 5 repeat;
    border-width: 0 0 .375em 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    box-shadow: 0px 0px 5px #666666;
    color: #FFFFFF;
    font-family: "Arvo", serif;
    font-size: 14px;
    position: fixed;
    top: 0;
    overflow: auto;
    padding:  .625em 0;
    text-shadow: 1px 1px 1px #000000;
    z-index: 999;
}
    
header a:link, header a:visited {
    color: #CCCCCC;
}
    
    header a:hover, header a:active {
        color: #FFFFFF;
    }
    
header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
    header li {
        display: inline-block;
        float: left;
        margin-right: .625em;
    }
        
        header li:last-child {
            margin-right: 0;
        }

#site-title {
    float: left;
    display: inline-block;
    line-height: 1.5em;
}

#search { float: right; display: inline-block; position: absolute; bottom: 0; right: 0; }

    #search input[type=text] {
        height: 27px;
        display: inline-block;
        margin: 0;
    }
    
    #search input[type=submit] {
        display: inline-block;
        margin: 0 0 5px -5px;
        vertical-align: top;
        width: inherit;
        padding: 0 5px;
        float: none;
    }

.subhead {
    position: relative;
}
    
header nav {
    float: right;
}
    
    header li {
        font-size: 14px;
    }
    
#user-nav {
    float: left;
}
            
#global-nav {
    float: left;
    margin-right: 1.5em;
}
    

/* Content Navigation  
================================================== */

#content-nav {
    width: 130px;
    position: fixed;
    top: 50px;
    z-index: 10;
}

#content-nav ul {    
    width: 100%;
    border-top: 1px solid rgba(0,0,0,1);
    font-family: "Arvo", serif;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    float: left;
    clear: left;
}
    
#content-nav li {
    height: 2.1875em;
    background-image: url('../images/navbg-gray.jpg');
    border-right: 1px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,1);
    border-left: 1px solid rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    font-size: 14px;
    line-height: 100%;
    text-shadow: -1px -1px 1px rgba(0,0,0,1);
    overflow: hidden;
    position: relative;
    z-index: 1000;
}
    
    #content-nav li:hover, #content-nav li:active {
        background-image: url('../images/navbg-gray2.jpg');
    }
                
    #content-nav li a {
        height: 100%;
        color: #ffffff;
        display: block;
        line-height: 2.1875em;
        padding: 0 1.125em;
    }
        
    #content-nav li a:hover, #content-nav li a:active {
        color: #FFFFCC;
        text-shadow: -1px -1px 1px rgba(0,0,0,.75)
    }
        
#content-nav .current {
    background-image: url('../images/navbg-blue.jpg');
    position: relative;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -o-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    overflow: visible;
}
    
    #content-nav .current:hover, #content-nav .current:active {
        background-image: url('../images/navbg-blue.jpg');
    }
    
    #content-nav .current a {
        height: auto;
        background-color: transparent;
        display: block;
    }
        
    #content-nav .current a:hover, #content-nav .current a:active {
        background-color: transparent;
    }
        
#content-nav li span {
    position: absolute;
    font-style:italic;
    top: -9000px;
    left: -9000px;
    display: block;
    width: 260%;
}
    
#content-nav li:hover span, #content-nav li:focus span, #content-nav li:active span {
    top: 0px;
    left: 130px;
}
    
#mobile-content-nav {
    display: none;
    width: 100%;
    background: #1C4E65; /* Fallback */
    background: url('../images/dropdown-arrow.png') no-repeat right center; /* Fallback */
    background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#1C4E65), to(#164052));
    background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top, #1C4E65, #164052);
    background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top, #1C4E65, #164052);
    background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top, #1C4E65, #164052);
    background: url('../images/dropdown-arrow.png') no-repeat right center, -ms-linear-gradient(top, #1C4E65, #164052);
    background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(top, #1C4E65, #164052);
    border: 1px solid #11303F;
    color: #f7f7f7;
    font-family: "Arvo", serif;
}

    #mobile-content-nav li a { color: #fff; }
    
    #mobile-content-nav li .dropdown a { color: #666; }
    
    #mobile-content-nav.quick-filter-wrapper ul li:hover:first-child { background-color:#ccc; }

.pagination {
    clear: right;
    float: right;
}
    
    .pagination {
        margin: 0 0 20px 0;
        padding: 0;
    }
    
    .pagination li {
        height: 25px;
        min-width: 25px;
        background: #e2e2e2; /* Fallback */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
        background-image: -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
        background-image: -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
        background-image: -o-linear-gradient(top, #f8f8f8, #e2e2e2);
        background-image: -ms-linear-gradient(top, #f8f8f8, #e2e2e2);
        background-image: linear-gradient(top, #f8f8f8, #e2e2e2);
        border: 1px solid #D8D8D8;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        -o-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        color: #666666;
        font-family: "Cabin", sans-serif;
        float: left;
        font-size: 14px;
        line-height: 22px;
        list-style-type: none;
        text-align: center;
    }
        
        .pagination li:last-child {
            margin-right: 0;
        }
            
        .pagination li a {
            display: block;
            padding: 0 7px;
        }
        
        .pagination_next { margin: 0 0 0 10px; }

        .pagination_previous { margin: 0 10px 0 0; }

.pagination .page-input {
    background: transparent;
    border: 0;
    box-shadow: 0 0 0;
}
    
    .pagination .page-input input[type=text] {
        width: 40px;
        height: 24px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 5px 0 0;
        padding: 0;            
        text-align: center;
    }

/* Save Panel
================================================== */

#save, #edit {
    margin-top: 0;
    float: right;
}

    #save .big, #edit .big {
        width: 100%;
        margin: 10px auto;
        padding: 0;
    }

        #save .big:first-child, #edit .big:first-child {
            margin-top: 0;
        }
        
    #save .featured { 
        background: url('../images/small-featured-bg.png') no-repeat right bottom; 
        background-size: 40px; 
    }

    #save .field, #edit .field {
        border-top: 1px solid #e7e7e7;
        overflow: visible;
        padding-top: 20px;
    }
        
        #save .field:last-child, #edit .field:last-child {
            margin-bottom: 0;
        }

        
    #save label, #edit label {
        float:none;
    }
        
    #save .panel, #edit .panel {
        clear: both;
    }
        
    #save .pagination, #edit .pagination {
        width: 100%;
    }
    
    #save .pagination li, #edit .pagination li {
        margin: 0 0 10px 0;
    }
                
    #save #previous-item, #edit #previous-item {
        float: left;
    }
        
    #save #next-item, #edit #next-item {
        float: right;
    }

    #save select, #edit select {
        width: 100%;
        margin: 10px 0 0 0;
    }

#add-tags-explanation {
    margin: 0 0 10px 0;
}
    
/* General Content  
================================================== */

#content { 
    background-image: url('../images/content_bg.jpg');
    -webkit-border-image: url('../images/red-bg.jpg') 5 repeat;
    -moz-border-image: url('../images/red-bg.jpg') 5 repeat; 
    -o-border-image: url('../images/red-bg.jpg') 50 repeat; 
    border-image: url("../images/red-bg.jpg") 5 / 0.375em 0 0 repeat;
    -webkit-box-shadow: 0 0 1px #999999; 
    -moz-box-shadow: 0 0 1px #999999; 
    -o-box-shadow: 0 0 1px #999999; 
    box-shadow: 0 0 1px #999999; 
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 20px 10px;
}    

        #content h1:first-child, #content h2:first-child {
            margin-top: 0;
        }
        
.panel {
    background-color: rgb(255,255,255);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.4) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,.4) inset;
    -o-box-shadow: 0 0 1px rgba(0,0,0,.4) inset;
    box-shadow: 0 0 1px rgba(0,0,0,.4) inset;
    border-top: 5px solid #EBEADC;
    display: block;
    margin: 10px 0;
    padding: 10px 10px 0 10px;
    overflow: auto;
    word-wrap: break-word;
}
    
    .panel:first-child {
        margin-top: 0;
    }
    
    .panel h1, .panel h2, .panel h3, .panel h4 {
        margin-top: 0;
    }    
        
    .panel ul {
        padding: 0 0 0 30px;
    }
    
        
    .recent-row {  
        border-bottom: 1px solid #e7e7e7;
        overflow: auto; 
        margin: 10px 0;
    }
        
        .recent-row p {
            margin: 0 0 10px 0;
        }
    
        .recent { 
            width: 75%;
            float: left;
            margin: 0;
        }
    
        .dash-edit { float: right;
            margin: 0; 
        }


/* Login  
================================================== */

#login #content {
    margin-top: 10%;
    padding: 40px 0 20px 0;
    text-align: center;
}

#login .errors {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
    
    #login .errors li {
        background-color: rgba(255, 255, 255, .5);
        border: 1px solid #E7E7E7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #914E33;
        font-size: 14px;
        margin: 0;
        padding: .5em;   
    }

#login #forgotpassword {
    clear: both;
}
    
#login #fieldset-login .field:last-child .inputs {
    width: auto;
    float: left;
    display: inline-block;
    margin: 0 0 20px 5px;
}
        
#login .field label {
    min-width: 0;
    padding: 0;
}
    
#login #flash {
    margin: 0 10px;
}
    
#login h1 {
    width: 300px;
    background-image: url('../images/blue-banner.jpg');
    color: #ffffff;
    clear: both;
    padding: 0;
    height: 53px;
    line-height: 53px;
    margin: 20px 0 0 0;
    display: inline-block;
    text-shadow: 0 0 1px #000000;
}
        
        #login h1:before {
            height: 53px;
            width: 27px;
            background-image: url('../images/blue-banner_left.jpg');
            content: "";
            display: block;
            float: left;
        }
            
        #login h1:after {
            height: 53px;
            width: 27px;
            background-image: url('../images/blue-banner_right.jpg');
            content: "";
            display: block;
            float: right;
        }
        
#login #content h2 {
    margin: 1em 0;
}

#login .login-footer {
    clear: both;
    padding: 10px 0;
    text-align: center;
}

#login #remember {
    display: inline-block;
}

#login #remember-label {
    display: inline-block;
}

#login #remember-label label {
    width: auto;
    min-width: 0;
    float: none;
}
            
#login .submit {
    clear: both;
}



/* Dashboard  
================================================== */

#stats {
    text-align: center;
    margin: auto;
}
    
#stats .number {
    font-size: 2em;
    font-style: normal;
}
    
#stats p {
    min-width: 3em;
    display: inline-block;
    font-family: "Arvo", serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin: 16px 5px;
}
    
    #stats p:first-child {
        margin-left: 0;
    }
    
    #stats p:last-child {
        margin-right: 0;
    }


/* Browse Plugins
================================================== */

.plugins.browse table form {
    display: inline-block;
}

.plugins.browse table a.button, .plugins.browse table input[type=submit], .plugins.browse table button {
    background: none;
    border: 0;
    box-shadow: 0 0 0;
    text-shadow: 0 0 0;
    color: #4E7181;
    padding: 0;
    display: inline;
    margin: 0;
}

.plugins.browse table form:after {
    content: ' \00b7';
}

.plugins.browse table form:last-child:after {
    content: '';
}

.plugins.browse th:first-child {
    width: 30%;
}
    
.plugin-row {
    overflow: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
    
    .plugin-row:last-child {
        border-bottom: 0;
    }
    
.plugin-title {
    clear: left;
}

.plugin-title, .plugin-meta, .plugin-description {
    margin: 0;
}

.plugin-meta {
    font-style: italic;
}
    
    
/* Edit Users
================================================== */

.users input[type="submit"] {
    clear: both;
}
    
        
/* Browse Items  
================================================== */

.add-item.button {
    float: left;
}
    
.browse-items #advanced-search-link {
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
}
    
.browse-items #filter-list {
    clear: both;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
    .browse-items #filter-list li {
        display: inline-block;
        background: url('../images/search.png') no-repeat;
        padding: 0 0 0 21px;
        margin: 0 30px 20px 0;
        background-position-y: 2px;        
    }
        
.browse-items .input-block {
    overflow: auto;
    margin: 0 0 20px 0;
}   
     
.item-actions {
    float: left;
}
    
    .browse-items .item-actions input[type=submit], .browse-items .item-actions a.button, 
    .browse-items .item-actions button {
        float: left;
        height: 25px;
        line-height: 25px;
    }

.quick-filter-wrapper {
    height: 25px;
    background: #e2e2e2; /* Fallback */
    background: url('../images/dropdown-arrow.png') no-repeat right center; /* Fallback */
    background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
    background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
    background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
    background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top, #f8f8f8, #e2e2e2);
    background: url('../images/dropdown-arrow.png') no-repeat right center, -ms-linear-gradient(top, #f8f8f8, #e2e2e2);
    background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(top, #f8f8f8, #e2e2e2);
    border: 1px solid #D8D8D8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.07) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0px 0px 20px 0px;
    padding: 0;    
    z-index: 15;
}
    
.quick-filter-wrapper ul {
    background: #fff;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute; 
    left:-9999px; 
    min-width:122px;
    top:-1px; 
    padding: 0; 
    z-index: 20;
}

.quick-filter-wrapper li {
    float:left;
    position:relative; 
    list-style: none;   
}


.quick-filter-wrapper li a { 
    min-width: 105px; 
    display:block; 
    float:left; 
    color:#666; 
    padding: 2px 10px 2px 10px;     
    text-decoration:none; 
}

    .quick-filter-wrapper ul li { margin:0; }
    .quick-filter-wrapper ul li a { min-width:105px; }
    
    .quick-filter-wrapper ul li:hover:first-child { background-color:#fff; }
    .quick-filter-wrapper ul li:hover { background-color:#ccc; }
    
    .quick-filter-wrapper li a:active + ul.dropdown, 
    .quick-filter-wrapper li a:focus + ul.dropdown { left: -1px; }
    
    .quick-filter-wrapper li a:focus { outline: none; }
    .quick-filter-wrapper li ul:hover { left: -1px; }

#item-metadata .remove-element {
    display: none;
}
                
            
/* Show Item  
================================================== */

.element {
    clear: both;
    overflow: auto;
    margin: 0 0 16px 0;
}
    
    .element h3 {
        margin: 0 0 16px 0;
        line-height: 16px;
    }

.element-text p {
    font-size: 16px;
    word-wrap: break-word;
    line-height: 16px;
    margin: 0 0 1em 0;
    padding: 7px 0;
}

#item-images {
    margin: 0 0 20px 0;
}

/* Batch Edit Items
================================================== */

#item-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}
    
    #item-list h2 {
        margin: 0 -10px 0 0 ;
    }
    
        
/* Edit Item  
================================================== */

#all-tags-list {
    list-style-type: none;
    padding: 0;
}
    
.controls {
    float: left;
}

.element-set-description {
    display: inline-block;
    font-style: italic;
    margin: 0 0 40px 0;
}
    
.explanation {
    clear: both;
    font-style: italic;
    margin-top: 0;
}
    
#public-featured {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}

#public-featured div {
    display: inline-block;
}

#public-featured input[type=checkbox] {
    margin: 10px 10px 10px 5px;
}
    
.items input[type=text], .items textarea {
    margin: 0 0 0 0;    
}
    
.field .use-html {
    clear: none !important;
    font-size: 14px;
}

ul#section-nav, #section-nav ul {
    font-family: "Arvo", sans-serif;
    list-style-type: none;
    margin: -20px 0 16px 0;
    padding: 0;
}
    
    #section-nav li { display: inline-block; }
        
        #section-nav li:first-child a { padding: 10px 10px 10px 0; }
            
        #section-nav li.active:first-child a,
        #section-nav li.current:first-child a, 
        #section-nav li:first-child a.active {
            padding: 10px 10px 10px 10px;
        }
        
    #section-nav a {
        display: inline-block;
        padding: 10px;            
        }
                    
    #section-nav .active a,
    #section-nav .current a, 
    #section-nav a.active {
        background-image: url('../images/red-bg.jpg');
        -webkit-box-shadow: 0px 2px 3px #cccccc;
        -moz-box-shadow: 0px 2px 3px #cccccc;
        -o-box-shadow: 0px 2px 3px #cccccc;
        box-shadow: 0px 2px 3px #cccccc;
        color: #ffffff !important;
        text-shadow: -1px -1px 1px rgba(0,0,0,.05);
        padding: 10px;
    }
                
#tags {
    width: 96%;
    margin: 10px 0;
}



/* Show File  
================================================== */

.files dt, .files dd {
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.files dt {
    font-weight: bold;
}

.files dd {
    margin-bottom: 1em;
}

/* Tags
================================================== */

.tags h3 { margin: 0; }

.tags #tags-nav { margin: 0; }

.count {
    padding: 0 10px 0 0;
    border-right: 1px solid #749308;
    height: 99%;
    display: inline-block;
    margin: 0 5px 0 0;
    -webkit-box-shadow: -1px 0px 0px 0px rgba(255,255,255,.2) inset,1px 0px -1px 1px rgba(255,255,255,.2);
    -moz-box-shadow: -1px 0px 0px 0px rgba(255,255,255,.2) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.2);
    -o-box-shadow: -1px 0px 0px 0px rgba(255,255,255,.2) inset, 1px 0px -1px 1px rgba(255,255,255,.2);
    box-shadow: -1px 0px 0px 0px rgba(255,255,255,.2) inset,1px 0px -1px 1px rgba(255,255,255,.2);
}

.hTagcloud ul {
    list-style-type: none;
    padding: 0;
}

.hTagcloud li {
    height: 32px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4C637), color-stop(100%,#75940A));
    background: -moz-linear-gradient(center top, #A4C637 0%, #75940A 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
    -moz-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
    box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
    border: solid #749308;
    border-width: 1px 0 1px 1px;
    font-family: "Arvo", serif;
    display:inline-block;
    margin: 0 30px 10px 0;
    position: relative;
    z-index: 2;
}
    
    .hTagcloud li:after {
        content: "";
        color: transparent;
        height: 24px;
        width: 22px;
        -webkit-transform: rotatez(45deg);
        -moz-transform: rotatez(45deg);
        -o-transform: rotatez(45deg);
        -ms-transform: rotatez(45deg);
        transform: rotatez(45deg);
        background: -moz-linear-gradient(-45deg, #A4C637 0%, #75940A 100%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#A4C637), color-stop(100%,#75940A));        
        border-right: 1px solid #749308;
        border-top: 1px solid #749308;
        border-bottom: 0;
        -webkit-box-shadow: 0px 1px 0px 0 #bdd662 inset, 0 0 0 0 #ffffff inset, 2px -1px 2px 0px #d4d4d4;
        -moz-box-shadow: 0px 1px 0px 0 #bdd662 inset, 0 0 0 0 #ffffff inset, 2px -1px 2px 0px #d4d4d4;
        box-shadow: 0px 1px 0px 0 #bdd662 inset, 0 0 0 0 #ffffff inset, 2px -1px 2px 0px #d4d4d4;
        display: inline-block;
        margin: 4px 0 0 -12px;
        position: absolute;
        left: 100%;
        top: 0;
        z-index:1;
    }
    
.hTagcloud li a {
    height: 100%;
    color: #ffffff;
    display: inline-block;
    line-height: 30px;
    padding: 0 0px 0 10px;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,.5);
    z-index: 10;    
}

.hTagcloud li .close { display: inline-block; }
    
.hTagcloud li .close a {
    display: inline-block;
    text-indent: -999px;
    width: 17px;
    background-color: rgba(0, 0, 0, .3);
    height: 17px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 10px;    
    position: relative;
    top: 5px;
    padding: 0;
}

.hTagcloud li .close a:after {
    content: "x";
    height: 100%;
    width: 100%;
    box-shadow: 0px -1px 1px rgba(255,255,255,.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:#769a3f;
    display: block;
    position: relative;
    font-family: "Verdana", sans-serif;
    font-size: 15px;
    top: 0;
    float: left;
    text-indent: 4px;
    line-height: 14px;
    text-shadow: none;
}
    
#tags-nav { margin: 20px 0; }

#tags-nav span {
    height: 25px;
    background: #e2e2e2; /* Fallback */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
    background-image: -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
    background-image: -o-linear-gradient(top, #f8f8f8, #e2e2e2);
    background-image: -ms-linear-gradient(top, #f8f8f8, #e2e2e2);
    background-image: linear-gradient(top, #f8f8f8, #e2e2e2);
    border: solid #D8D8D8;
    border-width: 1px 1px 1px 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    color: #666666;
    display: inline-block;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 25px;
    list-style-type: none;
    padding: 0 10px;    
    text-shadow: -1px -1px 1px #ffffff;
}
        
    #tags-nav span:first-child {
        border-left: 1px solid #D8D8D8;
    }
            
            
    #tags-nav span a:link, #tags-nav span a:visited {
        color: #B86644;
        }
        
    #tags-nav span.current {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#e1e1e1));
        background-image: -webkit-linear-gradient(top, #e8e8e8, #e1e1e1);
        background-image: -moz-linear-gradient(top, #e8e8e8, #e1e1e1);
        background-image: -o-linear-gradient(top, #e8e8e8, #e1e1e1);
        background-image: -ms-linear-gradient(top, #e8e8e8, #e1e1e1);
        background-image: linear-gradient(top, #e8e8e8, #e1e1e1);
        -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.1) inset, 1px 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.1) inset, 1px 1px 2px rgba(0,0,0,.1);
        -o-box-shadow: 0px 0px 2px rgba(0,0,0,.1) inset, 1px 1px 2px rgba(0,0,0,.1);
        box-shadow: 0px 0px 2px rgba(0,0,0,.1) inset, 1px 1px 2px rgba(0,0,0,.1);
        }
    
.tags div.two.columns { clear: both; }

    
/* Advanced Search
================================================== */

.search-entry select {
    min-width: 0;
    width: 49.5%;
}
    
.search-entry input[type=text] {
    margin-bottom: 10px;
}
    
button.remove_search {
    margin-bottom: 40px;
}
    
    
#submit_search_advanced {
    clear: both;
    margin: 20px 0;
}



/* Show Collections
================================================== */

.collections.show #content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
    .collections.show #content li {
        border-bottom: 1px solid #cccccc;
        padding: 10px 0;
    }
        
        .collections.show #content li:last-child {
            border-bottom: 0;
        }


/* Edit Collection
================================================== */


            
/* Browse Item Types
================================================== */

.itemtype-name { width: 15%; }
    
/* Browse Element Sets
================================================== */

.element-set-name { width: 20%; }
            
/* Browse Themes
================================================== */

#configure-button {
    width: 100%;
    font-family: "Arvo", sans-serif;
    margin: 10px 0;
    padding: 3px 0;
}    

    
    #current-image .crop {
        background-color: rgba(255,255,255,.3);
        border: 10px solid transparent;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        height: 200px;
        overflow: hidden;
    }
    
    #current-image img { width: 100%; }

#current-theme {
    width: 100%;
    border-bottom: 5px solid #eceadd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    float: left;
}
                
#current-theme ul {
    list-style-type: none;
    padding: 0;
}
    
#current-theme-title {
    background-image: url('../images/beige-banner_bg.jpg');
    height: 40px;
    display: inline-block;
    font-family: "Arvo", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    margin: 0 0 16px -2px;
    text-shadow: -1px -1px 0px #f7f7f7;
}
    
    #current-theme-title:before {
        content: "";
        margin-right: 10px;
        padding: 11px 1px 10px 2px;
        background-image: url('../images/beige-banner_left.jpg');
    }
        
    #current-theme-title:after {
        content: "";
        margin-left: 10px;
        padding: 9px 14px 12px 14px;
        background-image: url('../images/beige-banner_right.jpg');
    }

.themes .group .theme { height: 300px; }
        
    .themes .theme .author {
        font-style: italic;
        margin: 0;
        padding: 0;
    }
        
    .themes .theme .crop {
        height: 120px;
        border: 1px solid #e7e7e7;
        margin: 0 0 10px 0;
        overflow: hidden;
    }
        
    .theme .current-theme {
        display: none;
    }
    
    .themes .theme h3 {
        font-family: "Arvo", sans-serif;
        margin: 0;
    }
    
    .themes .theme img { width: 100%; }
        
    .themes .theme input[type=radio] { display: none; }
    
.type {
    font-weight: bold;
}
    
.use-theme {
    width: 100%;
    margin: 0;
    padding: 0 !important;
}
    
/* System Information
================================================== */

#info-field { word-wrap: break-word; }


/* Errors
================================================== */

#error-message dd { margin: 0; }

#backtrace {
    background-color: white;
    -webkit-box-shadow: 0 0 1px #999;
    -moz-box-shadow: 0 0 1px #999;
    -o-box-shadow: 0 0 1px #999;
    box-shadow: 0 0 1px #999;
    overflow-x: scroll;
    padding: 10px;
}

#error-message {
    word-break: break-word;
}
