body {
    background: #F5f5f5;
    padding: 0;
    margin: 0;
}

hr {
	border-bottom: none;
    border-top: 1px solid #eee;
    margin: 30px 0;
}

.container {
	@include screen-xl {
		width: 1240px;
	}
	@include screen-lg {
		width: 1240px;	
	}
	@include screen-md {
		width: 1000px;	
	}
	@include screen-sm {
		width: 768px;
	}
	
	
	@include screen-btwn-1200-1250 {
		width: 1160px;
	}
	@include screen-btwn-992-1020 {
		width: 940px;
	}
	@include screen-btwn-768-790 {
		width: 740px;
	}

	.ten.columns {
		@include screen-xl {
			width: 1040px;
		}
		@include screen-lg {
			width: 1040px;
		}
		@include screen-md {
			width: 840px;
		}
		@include screen-sm {
			width: 600px;
		}
	}
	
	> .offset-by-two {
		@include screen-sm {
		    margin-left: 170px;
		}
		@include screen-btwn-1200-1250 {
			margin-left: 190px;
		}
		@include screen-btwn-992-1020 {
			margin-left: 160px;
		}
	}
	
	@include screen-btwn-1200-1250 {
		.ten.columns {
			width: 930px;
		}
		.nine.columns {
			width: 88%;
		}
		.eight.columns {
			width: 78%;
		}
		.seven.columns {
			width: 68%;
		}
		.six.columns {
		    width: 58%;
		}
		.five.columns {
			width: 48%;
		}
		.four.columns {
		    width: 38%;
		}
		.three.columns {
			width: 28%;
		}
		.two.columns {
			width: 18%;
		}
		.one.columns {
			width: 8%;
		}		
	}
	
	@include screen-btwn-992-1020 {
		.ten.columns {
			width: 780px;
		}
		.nine.columns {
			width: 88%;
		}
		.eight.columns {
			width: 78%;
		}
		.seven.columns {
			width: 68%;
		}
		.six.columns {
		    width: 58%;
		}
		.five.columns {
			width: 48%;
		}
		.four.columns {
		    width: 38%;
		}
		.three.columns {
			width: 28%;
		}
		.two.columns {
			width: 18%;
		}
		.one.columns {
			width: 8%;
		}		
	}
	@include screen-btwn-768-790 {
		.ten.columns {
			width: 540px;
		}
		.nine.columns {
			width: 88%;
		}
		.eight.columns {
			width: 78%;
		}
		.seven.columns {
			width: 68%;
		}
		.six.columns {
		    width: 58%;
		}
		.five.columns {
			width: 48%;
		}
		.four.columns {
		    width: 38%;
		}
		.three.columns {
			width: 28%;
		}
		.two.columns {
			width: 18%;
		}
		.one.columns {
			width: 8%;
		}
	}
	
	@include screen-sm {
		.seven.columns,
		.six.columns,
		.five.columns,
		.four.columns,
		.three.columns,
		.two.columns {
			width: 100%;
			margin: 0;
			
			#login & {
				width: 100% !important;
			}
		}
	}
	
	@include screen-xs {
		.ten.columns,
		.nine.columns,
		.eight.columns,
		.seven.columns,
		.six.columns,
		.five.columns,
		.four.columns,
		.three.columns,
		.two.columns {
			width: 100%;
			
			#login & {
				width: 100% !important;
			}
		}	
	}
}

.section-title { 
	width: 50%; 
	
	@include screen-xs {
		width: 100%;   
		margin-top: 80px;
	}
}

.right { float: right; }
.left { float: left; }

#skipnav {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
    &:focus {
	    top:0;
	    z-index:9999;
	    clip:initial;
	    height:auto;
	    width:auto;
	    padding:.5em;
	    border:1px blue dashed;
	    background:#000;
	}
}

img { 
	border: 0; 
}

.image {
    display: block;
    overflow: visible;
    float: left;
    margin-right: 14px;
    
    img {
	    width: 50px;
	    height: auto;
	    float: left;
	}
}

.exhibit .image,
.collection .image {
    -webkit-box-shadow: -6px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -6px -6px rgba(0, 0, 0, 0.1);
    box-shadow: -6px -6px rgba(0, 0, 0, 0.1);
    margin: 6px 10px 0 6px;
}

.collection .image img,
.exhibit .image img {
    width: 48px;
    -webkit-box-shadow: -3px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -3px -3px rgba(0, 0, 0, 0.2);
    box-shadow: -3px -3px rgba(0, 0, 0, 0.2);
}


#info-field { word-wrap: break-word; }

#upgrade {
	#content {
	    margin-top: 10%;
	}
	
	a.button {
	    float: left;
	    margin: 0;
	}
}

.ui-icon.ui-icon-closethick,
.ui-icon.ui-icon-close {
    filter: brightness(10);
}
