@import url('reset.css');

/* == Generic == */
body {font: 62.5% Verdana, Arial, sans-serif; color:#fffff8; background:#000;}

h1 {font-size:1.8em; margin-bottom:1em; line-height:1em;}
h2 {font-size:1.6em; margin-bottom:1.125em; line-height:1.125em; font-weight:bold;}
h3 {font-size:1.4em; margin-bottom:1.2857em; line-height:1.2857em;}
a img {border:none;}
p,ul,ol,dl {font-size:1.2em; margin-bottom:1.5em;}
p {line-height:1.8em;}

a:link,a:visited {color: #cc0033;}
a:hover {color:#ff6600;}

/* ===== Structure ===== */
#wrap {width:810px; margin:2em auto; background:#333;overflow:hidden; }

#header {background:#fff; color:#333; padding:0; margin: 0;overflow: hidden;border-bottom: 9px solid #333;}
	h1 {margin:18px 18px 0; padding-bottom: .5em; border-bottom: 1px solid #666;}
	h1 a {text-decoration: none;}
	h2, h3 {font-weight: bold;color: #444444;}
	h2 {padding: 18px 18px 9px 0;margin: 0;}
	h3 {clear: both;}
	h5 {background-color: #121212;padding: 0 0 1em;}
		h5 a, h5 a:visited {color: #ccc;}

/* =Exhibit Navigation= */	
.exhibit-section-nav {float: left;padding-left:0; overflow:hidden; margin:0 0 0 18px;}
	.exhibit-section-nav li {display:block; float:left; width:auto;padding: .5em 1.5em .5em 0;margin-right:1px;}
	.exhibit-section-nav li a, .exhibit-section-nav li a:visited {display:block; float:left; text-decoration:none;padding:0.5em 0;text-align: left;}
	.exhibit-section-nav li a:hover {text-decoration: underline;}
	
/* =Page Navigation= */
.exhibit-page-nav {list-style:none; float: left; padding-top: .7em; width: 100%; border-top: 1px solid #666;}
	.exhibit-page-nav li {display:inline;float: left; margin-right:2px;}
	.exhibit-page-nav li a {display:block; width: 5em; text-decoration:none;padding:0.5em 0;text-align: center;background-color: #eee;border:1px solid #ddd;}
	.exhibit-page-nav li.current a {display:block; width: 5em;text-decoration:none;padding:0.5em 0;background-color: #cc6666;color: white;border:1px solid #CC2E4A;}
	.exhibit-page-nav li a:hover {background-color: #cc0033;color:white;}

/* == Content == */

#content {overflow: hidden;background-color:#fff;padding:0 18px 18px 18px;color:#333;min-height:400px;}

p.exhibit-description {padding-top: 1em;}
#exhibit-sections ul.exhibit-section-nav {float:none;display: block;margin: 0 0 1em 1em;}
	#exhibit-sections ul.exhibit-section-nav li {float:none;display: block; padding: 0 0 .5em;}
	#exhibit-sections ul.exhibit-section-nav li a {float:none;display:block; padding: 0 0 .5em;}
	
	#exhibit-sections dt {padding: 0 1% 1.5em 0; width: 20%; float: left;}
	#exhibit-sections dd {padding: 0 0 1.5em 1%; width: 78%; float: right;}

#footer {margin-top: 1em; padding: 1em;background-color:#fff;}

.commentary {background:#eee; padding:18px;}
	.commentary p {font-size:1.1em; line-height:1.63636;}
	
/* == Layout == */
.gallery-full-left,
.gallery-full-right,
.gallery-thumbnails,
.gallery-thumbnails-text-bottom,
.gallery-thumbnails-text-top,
.image-list-left,
.image-list-left-thumbs,
.image-list-right,
.image-list-right-thumbs,
.text-full,
.text-image-left,
.text-image-right
	{clear: both;}

.item img, .exhibit-item img {margin-bottom: 1.5em;}