/* == Reset == */
@import url("reset.css");

/* == Generic styles ======== */
body {font: 75% "Helvetica Neue",Helvetica, Arial, sans-serif; color: #444; background: #fffff8;  margin:0; }
html>body {font-size: 12px;}
p, span,ul,ol,dl  {font-size: 1em; line-height: 1.6em;}
abbr,acronym {border: none; font-style: normal;}
img a {border: none;}
strong {font-weight: bold;}
.clear {clear: both;}

/* Headings */
h1, h2, h3 {font-family: 'Trebuchet MS', sans-serif; font-weight: normal; }
h1 {color: #660066; text-transform: uppercase; letter-spacing: .2em; font-size: 3em; line-height: 1em; margin: 1em 0 0;}
h2 {text-align: left; border-bottom: 1px solid #ddd; font-size: 2em; line-height: .75em; margin-bottom: .75em;}
h3 {font-size: 1.5em; line-height: 1em; margin-bottom: 1em;}
h4 {font-size: 1.2em; line-height: 1.25em; margin: .75em 0 0;}
h5 {font-size: 1.2em; line-height: 1.25em; margin: .75em 0; color: #666; letter-spacing: .1em; font-weight: normal;}
h6 {}

#searchwrap h3 {text-transform: uppercase; font-size: 1em; margin: 0;}

/* Links */
a:link {color: #660066;}
a:visited {color: #660066;}
a:hover {color: #92278f;} 
a:active {color: #ff00ff;}

h1 a, h1 a:visited {color: #660066; text-decoration: none;}
h4 a:link, h4 a:visited { text-decoration: none; color: #660066; padding: .25em 0;}
h4 a:hover {color: #92278f; }

/* Forms */

fieldset {border:0; padding:0;}
	legend {font-size:1.5em; line-height:1em; margin:1em 0 0 ;}
	input.textinput {margin-bottom:1em;}
	label {display:block;}
	
/* Reusable classes */
.hide {text-indent: -1000em; width: 0; height: 0; overflow: hidden;}

.navigation {list-style:none; margin: 2em 0 0;}
	.navigation li {display:inline;}
	.navigation a {text-decoration:none;}

/* ====== Structure ====== */

#wrap {width: 744px; margin: 0 auto; position: relative;}
#header {width: 744px; margin: .5em 0 0; padding: 1em 0 0;}
#content {clear: both; margin-bottom: 2em;}
#primary {clear: both; margin: 3em 0 0; width: 744px;}
#secondary {clear: both; margin: 3em 0 0;}
#featured-item {clear: both; margin: 1.5em 0 1em;}
#recent-items {clear: both; overflow: hidden; margin: 1.5em 0;}
#tagcloud {margin-top: 2em;}
#footer {clear: both; padding: 1em .5em; margin: 3em 0 1em; background-color: #ddd;}
.collection {margin: 1em 0; padding: 1em 0;border-bottom: 1px solid #ddd;}

/* Search */
#searchwrap {position: absolute; top: 0; right: 0; font-size: .9em; margin: 0 0 18px; padding: .5em 1em;}

/* Primary Navigation */
#primary-nav {margin: 0; width: 100%; overflow: hidden;border-top: 1px solid #ccc;}
	#primary-nav ul {float: right;margin: 0; display: inline; padding-right: 1em; background: url('../images/nav-bg.gif'); background-position: right center; background-repeat: no-repeat;}
		#primary-nav li {float: left; padding: .5em 0 .5em 1em; background: url('../images/nav-bg.gif'); background-position: left center; background-repeat: no-repeat;}
		#primary-nav li a:link, #primary-nav li a:visited {float: left; display: block; padding: 6px .5em; color: #363636;}
		#primary-nav li a:hover {color: #92278f;}
		#primary-nav li.current a {color: #660066; font-weight: bold; padding: 5px .5em;}
		
/* Thumbnails */
span.thumb {margin: 0 0 2em;}
span.thumb a img {border: 1px solid #ccc;} 

/* Random Featured Item */
#featured-item {overflow: hidden; width: 100%;}
	#featured-item h3 {margin: .0625em 0 1.2em;}
	#featured-item h3 a:link, #featured-item h3 a:visited {text-decoration: none;}
	a.feat-img {float: right; padding-left: 1em;}
	p.source {font-style: italic;}

/* Recent Items */
#recent-items img {vertical-align: top; margin: 0 0 1em 1em;}
#recent-items ul li {list-style-type: square;list-style-position: outside; padding: 0 0 .5em;}

/* Browse and Item Pages */
#pagination ul {float: left; font-size: .9em; width: auto; padding: 0;}
	#pagination li {float: left; display: inline; padding: 0 .5em;}
	#pagination a {padding: 0 .5em 0 0;}
	
.desc p {margin: .5em 0 0; }

.item {overflow: hidden; width: 100%; padding: 0; margin: 0;clear: both; border-bottom: 1px solid #eee; padding-bottom: 18px;}
	.item .item-content {float:right; margin-left: 18px; margin-bottom: 18px;}
	.item .item-meta {float:left;}
 	.item span {line-height: 1.5em; margin-bottom: 1.5em;}
	.item span.thumb {float: right;}
	.item div.item-img {padding-left: 9px; float: right;}
.hentry {margin: 18px 0; }

.item-description {display: block; margin: 0 0 1em;}

dl#metadata {margin: 2em 0; padding: 0 0 2em;}
dl#metadata dt {clear: both; width: 282.7px;float: left;padding: 0.5em 0; font-weight: bold;}
dl#metadata dd {float: left;width: 411.3px;padding: 0.5em 0;}
dl#metadata ul {font-size: inherit; margin: 0;}
ul.tags { padding-left:0;}
ul.tags li {display: inline;padding:0 .5em 0 0;}

/* Collections */
.collection ul {margin: 0 0 1em 1em;}

/* Microformats */
.hTagcloud ul {list-style:none; margin-left:0; padding-left:0;}
	.hTagcloud li {display:inline;}

	.popular,.-popular {font-size:120%;}
	.v-popular {font-size:140%;}
	.vv-popular {font-size:180%;}
	.vvv-popular {font-size:220%;}
	.vvvv-popular {font-size:260%;}
	.vvvvv-popular {font-size:300%;}
	.vvvvvv-popular {font-size:320%;}
	.vvvvvvv-popular {font-size:340%;}
	.vvvvvvvv-popular {font-size:360%;}

	.popular a, .popular a:visited {color: #ccc;}
	.-popular a, .-popular a:visited {color: #ccc;}
	.v-popular a, .v-popular a:visited {color: #ccc;}
	.vv-popular a, .vv-popular a:visited {color: #bebebe;}
	.vvv-popular a, .vvv-popular a:visited {color: #b1b1b1;}
	.vvvv-popular a, .vvvv-popular a:visited {color: #a3a3a3;}
	.vvvvv-popular a, .vvvvv-popular a:visited {color: #959595;}
	.vvvvvv-popular a, .vvvvvv-popular a:visited {color: #888;}
	.vvvvvvv-popular a, .vvvvvvv-popular a:visited {color: #7a7a7a;}
	.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #6d6d6d;}

	.popular a:hover, .-popular a:hover {color: #4B0049;}
	.v-popular a:hover {color: #5B175A;}
	.vv-popular a:hover {color: #6C2E6A;}
	.vvv-popular a:hover {color: #7C467B;}
	.vvvv-popular a:hover {color: #8C5D8B;}
	.vvvvv-popular a:hover {color: #9D749C;}
	.vvvvvv-popular a:hover {color: #AD8BAC;}
	.vvvvvvv-popular a:hover {color: #BEA2BD;}
	.vvvvvvvv-popular a:hover {color: #CEB9CD;}

/* ==Exhibit Styles== */

#exhibits p, #exhibits .tags {margin-bottom: 1em;}
	#exhibits .exhibit h3 {text-transform: uppercase; padding-top: .5em;}
	#exhibits .exhibit h3 a {text-decoration: none;}	
	#exhibits .exhibit {border-bottom: 1px solid #ccc; margin-bottom: 1em;}

#exhibit-header {clear: both;}
		#exhibit-header h2 {text-transform: uppercase; margin-bottom: 0;}
		#exhibit-header h2 a {text-decoration: none;} 
		#exhibit-header h3 {clear: both; float: left; margin: 0;}
	
#nav-container {overflow: hidden;}

.exhibit-section-nav {float:left;padding-left: 0;}
	.exhibit-section-nav li {list-style-type: none;float:left;text-transform: uppercase;letter-spacing: 0.14em; padding: 0 2em 0 0;}
	.exhibit-section-nav li a {float: left;text-decoration: none; display: block; color: #a580a4;border-bottom: 2px solid #fff;}
	.exhibit-section-nav li a:visited {color: #a580a4;}
	.exhibit-section-nav li a:hover {color: #92278f;border-bottom: 2px solid #92278f;}
	.exhibit-section-nav li a.current {border-bottom: 2px solid #660066; color: #660066;}
	
.exhibit-page-nav {clear:left;float:left; width: 100%; border-bottom: 1px solid #ddd; padding: 0 1em 0 0; margin-bottom: .5em;}
	.exhibit-page-nav li {float: left; display: inline; padding: 0 2px 0 0; margin: 0;}
	.exhibit-page-nav li a {display: inline; padding: 5px 1em .5em 0; text-decoration: none;}
	.exhibit-page-nav li.current a {text-decoration:none;font-weight:bold;}

.summary {margin-bottom: 0;}	
.exhibit-item a {text-decoration: none;}
a img {border: none;}
.gallery-thumbnails-text-bottom {clear: both;}
#content .gallery-thumbnails-text-bottom .primary .exhibit-item {margin-right: 9px;}