.gallery-full-left .primary {float:left; width:48%;overflow:hidden;}
.gallery-full-left .secondary {float:right; width:48%;}
.gallery-full-left .gallery .exhibit-item {float:left; margin-right:18px; margin-bottom:18px;}
.exhibit-text {margin-top: 1em;}
#item-full-text {clear: both; padding-top: 2em;}