#content {
    margin-top: 60px;
    
    @include screen-xs {
    	margin-top: 85px;
    }
    
    h1:first-child,
    h2:first-child {
        margin-top: 0;
    }
    
    section:first-of-type {
	    min-height: 1px;
	}
	
	.content-wrapper {
		background: white;
		padding: 25px;
		box-shadow: 0 0 8px rgba(0,0,0,0.1);
		z-index: 9;
		position: relative;
	}
}

.panel {
    width: 100%;
    background-color: rgb(255,255,255);
    border: 1px solid #E4E4E4;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    padding: 20px 20px 0;
    overflow: hidden;
    word-wrap: break-word;
    
    &:first-child {
        margin-top: 0;
    }
    
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
    ul {
        padding: 0 0 0 20px;
    }
    
    a.button, 
	input[type=submit], 
	button {
		margin-bottom: 10px;
		width: 100%;
	}
	
	.button:last-child {
		margin-bottom: 20px !important;
	}
}

.admin-thumb.panel img {
    max-width: 100%;
    padding-bottom: 10px;
    vertical-align: bottom;
}

.recent-row {
    border-bottom: 1px solid #e7e7e7;
    overflow: auto;
    margin: 12px 0;
    
    p {
        margin: 0 0 10px 0;
    }
}

.recent {
    width: 75%;
    float: left;
    margin: 0;
}

.dash-edit { 
    float: right;
    margin: 0;
}

.ui-dialog {
	border: none !important;
	border-radius: 0 !important;
	padding: 0;
	
	.ui-dialog-titlebar {
		background: #82423B;
		border: none;
		border-radius: 0;
		padding: 10px 15px;
		
		* {
			color: white;
		}
	}
}
