header {
    left: 0;
    right: 0;
    top: 0;
    height: 40px;    
    box-sizing: border-box;
    position: fixed;
    padding:  8px 1em;
    z-index: 9999;
    
    background-color: #333333;
    color: #FFFFFF;
	
	@include screen-xs {
		z-index: auto;
		position: relative;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: $spacing-s 0;
	}

	.site-title a:focus,
	button:focus {
		position: relative;
		z-index: 9999;
	}

    a:link,
    a:visited {
    	color: #CCCCCC;
    	padding-bottom: 11px;
		border-bottom: 2px solid transparent;
		transition: 0.5s color;
		text-decoration: none;
	}
	a:hover, 
	a:active {
        color: #FFFFFF;
        border-bottom-color: white;
    }
    ul {
	    list-style-type: none;
	    padding: 0;
	    margin: 0;
	}
	li {
        float: left;
        margin-right: 0.875em;
        color: white;
        
        &:last-child {
            margin-right: 0;
        }
    }
    nav {
	    float: right;
	    
	    @include screen-xs {
			float: none;
			position: relative;
			top: 0;
			width: 100%;
			height: 0px;
			display: none;
			left: 0;
			overflow: auto;
			background: #333333;
			transition-duration: 0.5s;
			transition-property: height, overflow-x, display, z-index;
			
			&.in {
				height: 260px;
				overflow-x: hidden;
				display: block;
				z-index: 10000;
			}
			
			li {
				float: none;
				margin-right: 0;
				display: block;
				font-size: 16px;
				
				a:link,
				a:visited {
					width: 100%;
					display: block;
					padding: 8px $spacing-l;
					border: none;
				}
				a:hover, 
				a:active {
					border-bottom-color: #666;	
				}
			}
		}
	}
}

#site-title {
    float: left;
    line-height: 1.5em;
    margin: 0;
	
	@include screen-xs {
		float: none;
		padding: $spacing-s $spacing-l;
	}
}

@include screen-xs {
	#site-title a {
		font-size: 16px;
	}
}

#global-nav > .navigation {
	float: left;

	@include screen-xs {
		float: none;
	}
}

#user-nav {
    float: left;
	margin-left: $spacing-l;
    
    @include screen-xs {
	 	float: none;
	 	border-top: 1px solid #666;
		margin-left: 0;
	 	
	 	li:first-of-type {
		 	padding: 12px $spacing-l 8px;
    
		 	a {
			 	display: inline;
			 	border-bottom: none;
			 	padding: 0;
		 	}
	 	} 
	}
}

#global-nav {
    float: right;
    margin-right: 1.5em;
    
    @include screen-xs {
	 	float: none;   
	 	border-top: 1px solid #666;
	 	margin: 0;
		overflow: visible;
	 	
	 	li:first-of-type {
		 	a {
		 		padding: $spacing-m $spacing-l;
		 	}
		}
		li:last-of-type {
		 	a {
		 		padding: $spacing-m $spacing-l;
		 	}
		}
	}
}

#mobile-navbar-toggle {
    color: white;
	appearance: initial;
    cursor: pointer;
    text-indent: -9999px;
	background: transparent;
	border: 0;
	margin: (-1 * $spacing-s) 0 0 auto;
    
    &:after {
        content: "\f141";
	    font-family: "Font Awesome 5 Free";
		font-weight: 900;
	    font-size: 21px;
	    display: block;
	    text-indent: 0;
	    text-align: center;
	}

    @include screen-gtxs {
	    display: none;
    }
}
