header {
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    
    box-sizing: border-box;
    position: fixed;
    padding:  8px 1em;
    z-index: 9999;
    
    background-color: #333333;
    color: #FFFFFF;
    
    a:link,
    a:visited {
    	color: #CCCCCC;
    	padding-bottom: 11px;
		border-bottom: 2px solid transparent;
		transition: 0.5s all;
		text-decoration: none;
	}
	a:hover, 
	a:active {
        color: #FFFFFF;
        border-bottom-color: white;
    }
    ul {
	    list-style-type: none;
	    padding: 0;
	    margin: 0;
	}
	li {
        float: left;
        margin-right: 0.875em;
        color: white;
        
        &:last-child {
            margin-right: 0;
        }
    }
    nav {
	    float: right;
	    
	    @include screen-xs {
			float: none;
			position: absolute;
			top: 40px;
			width: 100%;
			height: 0px;
			left: 0;
			overflow: auto;
			background: #333333;
			transition: 0.5s all;
			
			&.in {
				height: 260px;
				overflow-x: hidden;
			}
			
			li {
				float: none;
				margin-right: 0;
				display: block;
				font-size: 16px;
				
				a:link,
				a:visited {
					width: 100%;
					display: block;
					padding: 8px 15px;
					border: none;
					font-size: 16px;
				}
				a:hover, 
				a:active {
					border-bottom-color: #666;	
				}
			}
		}
	}
}

#site-title {
    float: left;
    line-height: 1.5em;
    margin: 0;
}

#user-nav {
    float: left;
    
    @include screen-xs {
	 	float: none;
	 	border-top: 1px solid #666;
	 	
	 	li:first-of-type {
		 	padding: 12px 15px 8px;
    
		 	a {
			 	display: inline;
			 	border-bottom: none;
			 	padding: 0;
		 	}
	 	} 
	}
}

#global-nav {
    float: left;
    margin-right: 1.5em;
    
    @include screen-xs {
	 	float: none;   
	 	border-top: 1px solid #666;
	 	margin: 0;
	 	
	 	li:first-of-type {
		 	a {
		 		padding: 12px 15px 8px;
		 	}
		}
		li:last-of-type {
		 	a {
		 		padding: 8px 15px 12px;
		 	}
		}
	}
}

#mobile-navbar-toggle {
	float: right;
    color: white;
    cursor: pointer;
    text-indent: -9999px;
    
    &:after {
        content: "\f141";
	    font-family: "FontAwesome";
	    font-size: 21px;
	    display: block;
	    text-indent: 0;
	    text-align: center;
	    margin: -0.75em 0 0 0em;;
	}
    
    @include screen-gtxs {
	    display: none;
    }
}