#content-nav {
    width: 160px;
    position: absolute;
    top: 50px;
    z-index: 10;
    left: 0;
    
    @include screen-md {
	    width: 130px;
	}
	@include screen-sm {
		width: 140px;
	}
	@include screen-xs {
		width: 100%;
		top: 40px;
		left: 0;
		z-index: 1000;
		position: fixed;
	}

	&.unfix {
	    position: absolute;
	    top: -10px;
	}

	ul {
	    width: 100%;
	    list-style-type: none;
	    margin: 20px 0 0;
	    padding: 0;
	    float: left;
	    clear: left;
	    
	    @include screen-xs {
		 	margin-top: 0;
		 	height: 0px;
		 	overflow: auto;
		 	transition: 0.5s all;
		 	
		 	&.in {
			 	height: auto;
		 	}
		}
	}

	li {
	    background: #68302C;
	    word-wrap: break-word;
	    z-index: 1000;
	    transition: 0.5s all;
	    border-bottom: 1px solid rgba(#ECB5B3, 0.25);

	    &:hover {
	        background: #8C3E38;
	        
	        a {
		        color: white;
	        }
	    }
	    &:last-of-type {
		    border-bottom: none;
	    }
	    
	    a {
	        height: 100%;
	        color: white;
	        display: block;
	        line-height: 1.5em;
	        padding: .625em .5em .625em 1em;
	        font-size: 14px;
	        text-decoration: none;
	        transition: 0.5s all;
	        
	        @include screen-xs {
		    	font-size: 16px;   
		    }
	    }
	}
	
	.active, 
	.active:hover {
	    background: #8C3E38;
	    
	    a {
	        background-color: transparent;
	        color: white;
	        
	        &:hover, 
	        &:active {
				background-color: transparent;
    		}
	    }
	}
}

#content-nav-toggle {
	display: none;
	
	@include screen-xs {
		display: block;
		background: #8C3E38;
		word-wrap: break-word;
		border-bottom: 1px solid rgba(236, 181, 179, 0.25);
		height: 100%;
	    color: white;
	    display: block;
	    line-height: 1.5em;
	    padding: .625em .5em .625em 1em;
	    font-size: 16px;
	    text-decoration: none;
	    transition: 0.5s all;
	    
	    &:after {
		    content: "\f0d7";
		    font-family: "FontAwesome";
		    font-size: 21px;
		    display: block;
		    text-indent: 0;
		    text-align: center;
		    margin: -0.75em 0 0 0em;
		    color: white;
		    position: absolute;
		    right: 20px;
		    top: 27px;
	    }
	}
}

#mobile-content-nav {
    display: none;

	> ul {
        width: 100%;
        background: #1C4E65; /* Fallback */
        background: url('../images/dropdown-arrow.png') no-repeat right center; /* Fallback */
        background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(to bottom, #1C4E65, #164052);
        border: 1px solid #11303F;
        color: #f7f7f7;
        font-family: "Arvo", serif;
    }

    li {
	    a {
		    color: #fff; 
		}
		.dropdown a { color: #666; }
	}

    .quick-filter-wrapper ul li:hover:first-child { background-color:#ccc; }
}