#content-nav {
    background-color: $darkestred;
    position: fixed;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    margin: 0;
    padding: 0 0 (1.5 * $spacing-l);
    z-index: 1002;
    box-sizing: border-box;

	@include screen-xs {
        position: relative;
        width: calc(100% + #{2 * $spacing-l});
        left: -2 * $spacing-m;
        right: -2 * $spacing-m;
        height: auto;
        top: 0;
        padding: 0;
        z-index: auto;

        &.open {
            z-index: 9999;
        }
    }

    button:focus {
        position: relative;
        z-index: 9999;
    }

    ul {
        width: 100%;
        height: 100%;
        list-style-type: none;
        padding: $spacing-s 0;
        float: left;
        clear: left;
        margin: 0;
        overflow-y: auto;

        //scrollbar styling from https://css-tricks.com/the-current-state-of-styling-scrollbars/
        scrollbar-color: $scrollbar $darkestred;

        &::-webkit-scrollbar {
            width: auto;
        }

        &::-webkit-scrollbar-track {
            background: $darkestred;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $scrollbar;
            border-radius: 6px;
            border: 3px solid $darkestred;
        }

	    @include screen-xs {
		 	margin-top: 0;
		 	height: 0px;
			display: none;
		 	overflow: auto;
		 	transition: 0.5s display;
		 	
		 	&.in {
			 	height: auto;
				display: block;
				overflow: visible;
		 	}
		}
	}

	li {
	    word-wrap: break-word;
	    z-index: 1000;
	    transition: 0.5s background;

	    &:hover {
	        background: $darkred;
	        
	        a {
		        color: white;
	        }
	    }
	    
	    a {
	        color: white;
	        display: block;
	        padding: .5em .5em .5em 1em;
	        text-decoration: none;
	        transition: 0.5s color;
	        
	        @include screen-xs {
		    	font-size: 16px;   
				padding: $spacing-m $spacing-l;
		    }
	    }
	}
	
	.active, 
	.active:hover {
	    background: $darkred;
	    
	    a {
	        background-color: transparent;
	        color: white;
	        
	        &:hover, 
	        &:active {
				background-color: transparent;
    		}

			@include screen-xs {
				background-color: #333;
			}
	    }
	}
}

#content-nav-toggle {
	display: none;
	
	@include screen-xs {
		width: 100%;
		border: 0;
		text-align: left;
		display: block;
		background: $darkred;
		word-wrap: break-word;
		border-bottom: 1px solid rgba(236, 181, 179, 0.25);
	    color: white;
	    display: block;
	    line-height: 1.5em;
	    padding: .625em 3em .625em $spacing-l;
	    font-size: 16px;
	    text-decoration: none;
		overflow: hidden;
		border-radius: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: 0;
	    
	    &:after {
		    content: "\f0d7";
		    font-family: "Font Awesome 5 Free";
			font-weight: 900;
		    font-size: 21px;
		    display: block;
		    text-indent: 0;
		    text-align: center;
		    margin: -0.75em 0 0 0em;
		    color: white;
		    position: absolute;
		    right: $spacing-l;
		    top: 27px;
	    }
	}
}
