.gallery-full-top-left .primary,.gallery-full-top-left .secondary {overflow:hidden;}
	.gallery-full-top-left .primary .item {float:left; margin: 0 18px;}
	.gallery-full-top-left .primary .text {margin-left:18px;}
	.gallery-full-top-left .secondary { padding:18px 18px 18px 0; background:#eee; margin:18px 18px 0;}
	.gallery-full-top-left .secondary .item {float:left; margin-left:18px; margin-bottom:18px;}
	
#layout {}