/* Styles for IE6 and earlier versions. 

Uses the following conditional statement in a document's <head>:

<!--[if lte IE 6]>
	<link rel="stylesheet" href="ie.css" type="text/css" />
<![endif]-->

ONLY IE6 AND EARLIER WILL APPLY THESE STYLES. THIS METHOD KEEPS MAIN STYLESHEET FREE OF IE-SPECIFIC HACKS.

*/

#kjv-logo {margin-right: 15px;}
#jwa-logo a {margin:10px;} /* Feed IE a new margin, due to the IE Double-Margin Bug. (More info is available at http://www.positioniseverything.net/explorer/doubled-margin.html.) When you float and element and give it margin, IE6 and earlier versions double that margin, so we have to feed IE half of our desired margin to work around this.*/
#mainnav {margin:0 5px;} /* More Double-Margin Bug corrections.*/
legend {margin-left: -7px;}
#mainnav li {margin:0;}/* More Double-Margin Bug corrections.*/
#meta p#login-blurb {margin-right: 10px;}
#home #primary{margin-right: 15px;}/* More Double-Margin Bug corrections.*/
#home #secondary{margin-left: 15px;}/* More Double-Margin Bug corrections.*/
#home #featured-blurb {margin: 5px 5px 0 5px;}/* More Double-Margin Bug corrections.*/
#home #tagcloud {margin: 5px;}/* More Double-Margin Bug corrections.*/

ul.subnav li { width: 10em; margin-top: 10px;}
#branding div#meta {margin: 0 5px;}/* More Double-Margin Bug corrections.*/
#meta #quicksearch {margin-left: 10px;}/* More Double-Margin Bug corrections.*/
#meta #login-blurb {margin-right: 10px;}/* More Double-Margin Bug corrections.*/
img#menorah {margin-left: 5px;}/* More Double-Margin Bug corrections.*/

#contribute #primary, #about #primary, #about #secondary, #browse #primary {margin: 0 15px;}/* More Double-Margin Bug corrections.*/

/* Browse styles */
#page-links {margin-right: 15px;}
#about.contact #primary {margin: 0 0 0 15px;}
#about.contact #secondary {margin: 0 15px 0 0;}

/* MyArchive styles */
#myarchive.intro #primary, #myarchive.intro #secondary, #myarchive.myprofile #primary, #myarchive.mycontributions #primary, #myarchive.mytags #primary, #myarchive.myfavorites #primary {margin: 0 15px;}

#login #primary {margin-right: 15px;}
#login #secondary {margin-right: 10px;}
#login #tertiary {margin-right: 30px;}

#internalnav li {margin-left: 10px; padding-left: 5px; list-style:square;}
#footer #copyright {margin-left: 10px;}/* More Double-Margin Bug corrections.*/
#footer .secondarynav, #footer div.section p {margin-right: 10px;}/* More Double-Margin Bug corrections.*/

#page-links {float:left; text-align:left; clear:left; margin: 10px 15px;}