html {background:transparent}
body {background:#d8caab url(bg.png) repeat-x fixed}

* html #wrap {width:50em}
/* Default CSS
================================================*/
/* Basic styling, used when JavaScript is unsupported */
.cbb {
	margin:1em 0;
	padding: 0;
	background:#fffae4;
}
.cbb h1 {
	margin:0 -10px;
	padding:0.3em 10px;
	background:#fffae4;
	font:bold 1.2em/1 Arial, Helvetica, sans-serif;
}
/* Normal styling */

	/* Top corners and border */
.bt, #content #primary div.bt {
	height:18px;
	margin:0 0 0 18px;
	background:url(../images/box.png) no-repeat 100% 0;
}
.bt div, #content #primary div.bt div {
	position:relative;
	left:-18px;
	width:18px;
	height:18px;
	background:url(../images/box.png) no-repeat 0 0;
	font-size:0;
	line-height:0;
}

	/* Bottom corners and border */
.bb, #content #primary div.bb {
	height:18px;
	margin:0 0 0 18px;
	background:url(../images/box.png) no-repeat 100% 100%;
}
.bb div, #content #primary div.bb div {
	position:relative;
	left:-18px;
	width:18px;
	height:18px;
	background:url(../images/box.png) no-repeat 0 100%;
	font-size:0;
	line-height:0;
}

	/* Left border */
.i1, #content #primary div.i1 {
	padding:0 0 0 10px;
	background:url(../images/borders.png) repeat-y 0 0;
}
	/* Right border */
.i2, #content #primary div.i2 {
	padding:0 10px 0 0;
	background:url(../images/borders.png) repeat-y 100% 0;
}
	/* Wrapper for the content. Use it to set the background colour and insert some padding between the borders and the content. */
.i3, #content #primary div.i3 {
	display:block;
	margin:0;
	padding:0;
	background:#fffae4;
}
	/* Make the content wrapper auto clearing so it will contain floats (see http://positioniseverything.net/easyclearing.html). */
.i3:after, #content #primary div.i3:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.i3, #content #primary div.i3 {display:inline-block;}
.i3, #content #primary div.i3 {display:block;}
/* Default CSS ends here */

/* Custom CSS
================================================*/
/* You can use different borders for different boxes on the same page. Just adjust the CSS. Here are a few examples, one of which uses the GIF images instead of the PNG images. Note that you can also adjust borders, heights and paddings this way. Remember to adjust the IE CSS as well. */

.one {
	position:absolute;
	top:0;
	right:0;
}
.two {
	float:left;
	width:45%;
}
.two .i1,
.two .i2 { background-image:url(borders.gif); }
.two .bt,
.two .bt div,
.two .bb,
.two .bb div { background-image:url(box.gif); }
#three {
	float:left;
	clear:both;
	width:80%;
}
#three .cb {
	float:left;
	width:40%;
}
.button {
	float:left;
	margin-top:0;
}
.button .bt {
	height:8px;
	margin:0 0 0 9px;
	background-image:url(button.png);
}
.button .bt div {
	left:-9px;
	width:9px;
	height:8px;
	background-image:url(button.png);
}
.button .bb {
	height:8px;
	margin:0 0 0 8px;
	background-image:url(button.png);
}
.button .bb div {
	left:-8px;
	width:8px;
	height:8px;
	background-image:url(button.png);
}
.button .i1 {
	padding:0 0 0 3px;
	background-image:url(button-borders.png);
}
.button .i2 {
	padding:0 3px 0 0;
	background-image:url(button-borders.png);
}
.button .i3 {
	padding:0 0.5em;
	background:#3a3d40 url(button.png) no-repeat -3px -8px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}
.button a:link,
.button a:visited,
.button a:hover {
	border:none;
	color:#fffae4;
}

/* Just a bit of styling for this demo page. Adjust as you wish. */
#absolute-wrapper {
	position:relative;
	height:9em;
}
.cb li {margin-left:1em;}
</style>
<!--[if lt IE 8]>
<style type="text/css">
/* Required IE fixes
================================================*/
/* Serve gif images to IE/Win pre version 7 */
* html .i1,
* html .i2 {background-image:url(borders.gif);}
* html .bt,
* html .bt div,
* html .bb,
* html .bb div {background-image:url(box.gif);}
/* Set a height to fix up some rendering issues. */
* html .i1,
* html .i3 {height:1px;}

/* Give the absolutely positioned box a width (including IE 7)*/
.one {width:70%;}

/* Custom rules for the buttons */
/* All IE versions need a width */
.button {width:20em;}
/* IE 7 does not need these */
* html .button .i1,
* html .button .i2 {background:transparent;}
* html .button .bt,
* html .button .bt div {background-image:url(button.gif);}
* html .button .bb,
* html .button .bb div {background-image:url(button.gif);}
</style>
<![endif]-->