<Files install.php>
Allow from all
</Files>

<Files mod_rewrite.php>
Allow from all
</Files>

# This allows us to verify that mod_rewrite is enabled
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^checkModRewrite([^/]*)\.html$ mod_rewrite.php?enabled=true [L]
</IfModule>