<Files install.php>
Allow from all
</Files>

<Files mod-rewrite.php>
Allow from all
</Files>

<Files check-mod-rewrite.html>
Allow from all
</Files>

# This allows us to verify that mod_rewrite is enabled
<IfModule mod_rewrite.c>
RewriteEngine On

# If know that mod_rewrite is enabled, but you are still getting mod_rewrite errors,
# uncomment the line below and replace "/install/" with your install directory.
# RewriteBase /install/

RewriteRule ^check-mod-rewrite([^/]*)\.html$ mod-rewrite.php?enabled=true [L]
</IfModule>