<Files install.php>
Allow from all
</Files>

<Files mod-rewrite.php>
Allow from all
</Files>

# This allows us to verify that mod_rewrite is enabled
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^check-mod-rewrite([^/]*)\.html$ mod-rewrite.php?enabled=true [L]
</IfModule>