/* == Reset Styles == */
@import url("reset.css");

/* == Generic == */
body {font:62.5% "Frutiger","Univers","Helvetica Neue",arial,helvetica, sans-serif; color:#444; width:860px; margin:0 auto; padding:20px 0;}
body#login {width:400px;}

/* Headings */
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
h1 {font-size:1.2em;line-height:1.66667em; margin-bottom:1.66667em; color:#933;}
h2 {font-size:2em; line-height:1em;margin-bottom:1em; color:#933;}
h3 {font-size:1.6em; line-height:1.25em; margin-bottom:1.25em;}
h4 {font-size:1.4em; line-height:1.4825em;margin-bottom:1.4825em; font-weight:bold;}
h5 {}
h6 {}

/* Links */
a:link {color:#38c;}
a:visited {color:#38c;}
a:hover {color:#369;}
a:active {color:#369;}
h1 a, h2 a, h3 a {text-decoration:none;}

/* Misc */
p,ul,ol,dl,table,div.editable {font-size:1.2em; line-height:1.66667em; margin-bottom:1.66667em;}
ul,ol {margin-left:1.5em;}
	li {line-height:1.66667em;}
dl dt, dl dd {display:block;}
dl dt {font-weight:bold;}
dl dd {margin-bottom:1.66667em;}
table {font-size:1.2em; width:100%;line-height:1.66667em; margin-bottom:1.66667em;}
thead {text-align:left;}
td,th {padding:1.66667em 0.833333em; line-height:1em;}

/* Form Elements */
fieldset {margin-bottom:2em;}
legend {color:#444; font-size:1.6em; margin-bottom:1.25em; line-height:1.25em;}
label,.label {font-size:1.2em; line-height:1.66667em; margin-bottom:0.4166666em;display:block;}
.textinput {margin-bottom:1.66667em; display:block;}
