/* Table of Contents
==================================================
    #Basic Styles    
        #Form Elements
    #Content */


/* Basic Styles
================================================== */

body {
    background-image: url('images/bg.jpg');
    color: #4C3939;
    font-family: "Cabin", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    width: 300px;
    background-image: url('images/blue-banner.jpg');
    color: #ffffff;
    clear: both;
    font-family: "Arvo", serif;
    font-size: 1.75em;
    font-weight: normal;
    padding: 0;
    height: 53px;
    line-height: 53px;
    margin: 20px auto 0 auto;
    display: inline-block;
    text-shadow: 0 0 1px #000000;
    text-align: center;
}

        h1:before {
            height: 53px;
            width: 27px;
            background-image: url('images/blue-banner_left.jpg');
            content: "";
            display: inline-block;
            float: left;
        }
            
        h1:after {
            height: 53px;
            width: 27px;
            background-image: url('images/blue-banner_right.jpg');
            content: "";
            display: inline-block;
            float: right;
        }

h2 { 
    font-size: 21px;
    text-align: center;
    }
    
h3 {
    font-size: 21px;
    font-weight: normal;
}
    
h4 { font-size: 16px; }
    
h5 { font-family: "Arvo", serif; }

a:link {
    color: #B86644;
    text-decoration: none;
}
    
    a:hover, a:active { color: #E57F52; }
        
    a:visited { color: #A28E8A; }

p, li {
    font-size: 14px;
}

ol { padding: 0 0 0 20px; }

        li:empty { display: none; }


    /* Form Elements
    ================================================== */

    a.button, input[type=submit], button {
        height: 32px;
        max-width: 50%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4C637), color-stop(100%,#75940A));
        background: -moz-linear-gradient(center top, #A4C637 0%, #75940A 100%);
        -webkit-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
        -moz-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
        box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
        border: 1px solid #749308;
        border-radius: 0;
        box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: block;
        font-family: "Arvo",serif;
        font-size: 16px;
        line-height: 32px;
        margin: 10px auto;
        padding: 0 10px;            
        text-align: center;
        text-shadow: -1px -1px 1px rgba(0,0,0,.5);
    }
    
            a.button.blue, input[type=submit].blue, button.blue {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22546b), color-stop(100%,#102d3b));
                background: -moz-linear-gradient(center top, #22546b 0%, #102d3b 100%);
                -webkit-box-shadow: 0px 1px 0px 0px #526c80 inset, 0px -1px 0px 0px #142233 inset, 0px 2px 2px 0px #d4d4d4;
                -moz-box-shadow: 0px 1px 0px 0px #526c80 inset, 0px -1px 0px 0px #142233 inset, 0px 2px 2px 0px #d4d4d4;
                box-shadow: 0px 1px 0px 0px #526c80 inset, 0px -1px 0px 0px #142233 inset, 0px 2px 2px 0px #d4d4d4;
                border: 1px solid #11303F;
            }

    form, fieldset { border: 0; }
    
    fieldset:first-child { margin: 0 0 20px 0; }

    input[type="checkbox"] {
        margin: 10px;
    }

    input[type=text], input[type=password] {
        height: 30px;
        border: 1px solid #d8d8d8;
        border-radius: 0;
        box-shadow: 0 0 .375em #d6d6d6 inset;
            -webkit-box-shadow: 0 0 .375em #d6d6d6 inset;
            -moz-box-shadow: 0 0 .375em #d6d6d6 inset;
            -o-box-shadow: 0 0 .375em #d6d6d6 inset;
        box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
        color: #666666;
        font-family: "Cabin", sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding: 5px 10px;
    }
        
        input[type=text].big {
            font-size: 14px;
            padding: .375em;
        }
            
        input[type=text].small {
            font-size: 14px;
            padding: 0;
        }

    legend { 
        width: 100%;
        font-size: 1.125em;
        font-weight: bold;
        padding: 0 0 20px 0; 
        margin: 0 0 10px 0; 
        text-align: center;
        border-bottom: 1px dotted #c7c7c7;
    }

    
    textarea {
        height: 100px;
        border: 1px solid #d8d8d8;
        border-radius: 0;
        box-shadow: 0 0 .375em #d6d6d6 inset;
            -webkit-box-shadow: 0 0 .375em #d6d6d6 inset;
            -moz-box-shadow: 0 0 .375em #d6d6d6 inset;
            -o-box-shadow: 0 0 .375em #d6d6d6 inset;
        box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
        color: #666666;
        font-family: "Cabin", sans-serif;
        font-size: 14px;
        padding: 5px 10px;
    }
    
    .explanation {
        clear: both;
        font-style: italic;
        margin-top: 0;
    }
    
    .field {
        clear: both;
        margin: 0 0 10px 0;
    }

    .field:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
            
        .field label {
            clear: left;
            font-size: 14px;
            font-weight: bold;
            float: left;
            margin: 0;
        }
            
        .field select {
            min-width: 100%;
            margin-bottom: 10px;
        }
    
    .inputs {
        margin: 0 0 20px 0;
    }
            
        .inputs select {
            margin-top: 0;
        }
        
        
        .inputs input[type=text], .inputs input[type=password], .inputs textarea {
            width: 100%;
            box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -o-box-sizing: border-box;
        }
            
        .inputs inputs a.button, .inputs input[type="submit"], .inputs button {
            margin-bottom: 10px;
        }

    #required-note {
        font-size: 0.6em; 
        color: #777; 
        display: block;
        line-height: 2em;
    }
    
    .required:after {
        content: "*";
    }


/* Content
================================================== */

header { text-align: center; }

#content { 
    background-image: url('images/content_bg.jpg');
    border-image: url('images/red-bg.jpg') 5 repeat; 
        -webkit-border-image: url('images/red-bg.jpg') 5 repeat;
        -moz-border-image: url('images/red-bg.jpg') 5 repeat; 
        -o-border-image: url('images/red-bg.jpg') 50 repeat; 
    border-width: .375em 0 0 0; 
    box-shadow: 0 0 1px #999999; 
        -webkit-box-shadow: 0 0 1px #999999; 
        -moz-box-shadow: 0 0 1px #999999; 
        -o-box-shadow: 0 0 1px #999999; 
    margin-top: 10%;
    margin-bottom: 10%; 
    padding: 20px 10px;
}

        /* Alerts
        ================================================== */
        
        #content #flash ul, ul.error {
            list-style-type: none;
            margin-top: 20px;
            padding: 0;
        }
            
            #content #flash li, ul.error li {
                background-color: rgba(255, 255, 255, .5);
                border: 1px solid #E7E7E7;
                border-radius: 3px;
                font-size: 14px;
                margin-bottom: 20px;
                padding: .5em;            
            }

        .error, .alert { color: #914E33;  }

        .fatal, .installed { text-align: center; }
        
        .success { color: #729108; }
