/* == Generic styles ======== */
body {font: 62.5% Verdana, Arial, sans-serif; color: #777; background: #dfdfd2;  margin:0; padding:0;}

/* Headings */
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
h1 {font-size: 2.4em;}
h2 {font-size: 1.75em; text-align:right;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1em; font-weight: bold;}
h6 {font-size: 1em; font-style: italic;}

/* Links */
a:link {color: #c60;}
a:visited {color: #c60;}
a:hover {color: #c83;} 
a:active {color: #c83;}

/* Misc. elements */
p,ul,ol {font-size:1.2em;}
abbr,acronym {border: none; font-style: normal;}

/* == Reusable classes ======== */
.hide {text-indent: -1000em; width: 0; height: 0; overflow: hidden;}
.padding {width:820px; margin:0 auto;overflow:hidden;}

.navigation {list-style:none; margin-left:0; padding-left:0;}
	.navigation li {display:inline;}
	.navigation a {text-decoration:none;}
	
/* == Wrap styles ============= */
#wrap {background:transparent;overflow:hidden;}

/* == Header styles =========== */
#header {background:#fff;padding-top:20px;}
	#header div.padding { padding:20px; background:#6f6559; background:#c70;}
	#header a {color:#fff; text-decoration:none;}
	
/* == Content styles ========== */
#content {}
	#content h2 {background:#D38921; margin:-20px -20px 20px; color:#fff; padding:10px 20px 20px;}
	#content div.padding {background:#fff; padding:20px; border-top:10px solid #D38921;}
	#primary {display:block; float:left; width:500px;}
	#secondary {display:block; float:right; width: 250px;}
		
/* == Footer styles =========== */
#footer {color:#53483A;}
	#footer a {color:#fff;}
	#footer .padding {padding:20px; background:#53483A;}
