/* Table of Contents
==================================================
    #Global Navigation
    #Content */


/* Global Navigation
================================================== */

body {
    background-image: url('../images/content_bg.jpg');
    }

/* Content
==================================================*/

#content {
    border: 0;
    box-shadow: 0 0 0 transparent;
    padding: 0;
    }
