body {
    background-image: url('../images/content_bg.jpg');
    }

#content {
    border: 0;
    padding: 0;
    box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
