#stats {
    text-align: center;
    margin: auto;

	a.stat {
		text-decoration: none;
	}

	a.stat .number {
	    font-style: normal;
		font-size: 30px;
	}

	p {
	    min-width: 3em;
	    display: inline-block;
	    text-align: center;
	    margin: $spacing-l $spacing-m;
	    text-transform: capitalize;
	
		&:first-child {
	        margin-left: 0;
	    }

	    &:last-child {
	        margin-right: 0;
	    }
	}
}

.index .alpha {
    clear: left;
}

.index .omega {
    clear: right;
}

.index .panels {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.index .container-twelve .panels .panel {
	margin-top: 0;
	width: calc(50% - #{$spacing-m});

	@include screen-ltmd {
		width: 100%;
	}
}

