.files dt, .files dd {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.files dt {
    font-weight: bold;
}

.files .item-file {
    display: block;
    margin: 0 0 $spacing-l 0;
}

.files dd {
    margin-bottom: $spacing-l;
}

.id3-property-name {
  font-weight: bold;
}

#files-metadata {
	.files {
		input {
            background-color: $lightgray;
            padding: $spacing-m;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 1px solid $darkgrayborder;
		}
	}
}

#files-metadata .add-new + .drawer-contents {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    container: filesContainer / inline-size;
}

@container filesContainer (width < 500px) {
    #file-inputs,
    #file-inputs + .files {
        grid-column: 1 / 3;
    }
}

#files-metadata .add-new + .drawer-contents p {
    grid-column: 1 / 3;
    margin: 0;
}

#file-list .file .drawer-name {
    flex: 2;
    word-break: break-word;
    padding-right: $spacing-m;
}

#file-list .file .actions {
    flex: 1;
}

#file-list img {
    max-height: 24px;
    width: auto;
    float: left;
    margin: -3px $spacing-m 0 0;
    border: 1px solid $darkgrayborder;
}

.file-container {
  border: 1px solid $darkgrayborder;
  border-bottom: 0;
  border-radius: 2px;

    &:not(:last-child) {
        margin-bottom: $spacing-l;
    }
}

.file-thumbnail:not(:empty) {
    padding: $spacing-m $spacing-m 0;
}

.file-thumbnail img {
    border: 1px solid $lightgrayborder;
}

.file-info .file-size:not(:empty) {
    border-bottom: 1px solid $darkgrayborder;
    padding: $spacing-m;
}