.plugins.browse {
	
	table form {
	    display: inline-block;
	}
	
	h2 { margin-bottom: 0; }
	
	h3:first-of-type {
	    margin-top: 0;
	}

	table a.button,
	table input[type=submit],
	table button {
	    background: none;
	    border: 0;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    text-shadow: none;
	    color: $green;
	    padding: 0;
	    display: inline;
	    margin: 0;
	}

	table form:after {
	    content: ' \00b7';
	}

	table form:last-child:after {
	    content: '';
	}

	th:first-child {
	    width: 30%;
	}

	@include screen-ltmd {
		.action-links {
			margin-top: $spacing-l;
		}
	}
	
	.action-links:after {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 1px;
	    clear: both;
	}
	
	.plugin {
	    overflow: hidden;
	    border-bottom: 1px solid $lightgrayborder;
	    margin-left: -$spacing-m;
	    width: 100%;
	    padding: $spacing-l $spacing-m;
		display: flex;
	    
	    &:last-child {
		    border-bottom: none;
	    }

		@include screen-xs {
			display: block;
		}

		button,
		a.button,
		input[type=submit] {
			width: 100%;
			margin-bottom: $spacing-m;
		}
	}
	
	.details {
	    list-style-type: none;
	    padding-left: $spacing-m;
	}

	.plugin-metadata {
	    margin: 0;
	    font-weight: bold;
	}

	.action-links li {
		display: block;
		width: 100%;
	}

	
	.action-links li:after { content: none; }
	.cannotload { background-color: lighten(#FFE7E7, 2%); }
	.upgrade:not(button) { background-color: lighten($lightgreen, 6%); }

}

.plugin-row {
    overflow: auto;
    border-bottom: 1px solid $darkgrayborder;
    margin-bottom: $spacing-l;
    padding-bottom: $spacing-l;

    &:last-child {
        border-bottom: 0;
    }
}

@include screen-ltmd {
	.plugin {
		flex-wrap: wrap;
	}

	.container-twelve .plugin .columns {
		width: 100%;
		margin: 0;
	}
}

.plugin-title {
    clear: left;
}

.plugin-title, 
.plugin-meta, 
.plugin-description, 
.plugin-support-link {
    margin: 0;
}

.version-notification { 
	display: none;
	list-style: none;
	margin: $spacing-m 0;
	padding: 0;

	&.active { display: block; }
	
	.flash {
		margin-bottom: 0;
	}
}
