/* Browse Themes
================================================== */

#current-image {
	.crop {
	    height: 225px;
	    overflow: hidden;

        @include screen-sm {
            height: 136px;
        }

        @include screen-xs {
            width: 100%;
            height: 0;
            padding-bottom: 66.66%;
        }
	}

	img { width: 100%; }
}

#current-theme {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: $spacing-l;
    margin-bottom: $spacing-l;
    float: left;
    display: flex;

    h2 {
        margin-bottom: 0;
    }

	ul {
	    list-style-type: none;
	    padding: 0;
	}

	ul.details {
	    list-style: none;
	}

    li {
        padding: $spacing-s $spacing-s $spacing-s $spacing-m
    }

    @include screen-xs {
        display: block;
    }
}
.current-theme-label {
	color: $darkred;
}

.themes .group .theme { 
    min-height: 300px; 

    @include screen-ltmd {
        min-height: 0;
        margin-bottom: 40px;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}


.themes .theme .author {
    font-style: italic;
    margin: 0;
}

.themes .theme .version,
.theme-support-link {
    margin: 0;
}

.themes .theme .crop {
    height: 136px;
    border: 1px solid #e7e7e7;
    margin: 0 0 $spacing-m 0;
    overflow: hidden;
}

.theme .current-theme { display: none; }

.themes .theme img { width: 100%; }

.type { font-weight: bold; }

.use-theme {
    width: 100%;
    margin-bottom: 0px;
}

.theme-file img {
    max-width: 100%;
    clear: both;
    display: block;
}

.theme-file .button { float: left; }

.meta h3 {
    margin-bottom: 0;
}

.themes .theme .crop,
.use-theme {
    @include screen-xs {
        width: calc(50% - 5px);
        float: left;
        margin-right: $spacing-m;    
    }
}