#search-users {
    float: right;
    display: flex;
    align-items: center;
}

#search-users input[type="text"] {
    margin-bottom: 0;
}

#search-users fieldset {
    display: inline-block;
    padding: ($spacing-m - 1.5px) $spacing-s;
}

#search-users-button {
    margin: 0 0 0 $spacing-s;
}