#search-users {
    float: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $spacing-m;

    @include screen-xs {
        float: none;
    }
}

#search-users input[type="text"] {
    margin-bottom: 0;

    @include screen-xs {
        margin-bottom: $spacing-s;
    }
}

#search-users fieldset {
    display: inline-block;
    padding: ($spacing-m - 1.5px) $spacing-s;
    margin-right: $spacing-s;

    @include screen-xs {
        margin-bottom: $spacing-s;
    }
}

#search-users label {
    display: inline-block;
}

#search-users button {
    margin: 0;
}