/* Table of Contents
==================================================
    #Global Navigation
    #Content Navigation
    #Content
        #Login */


/* Global Navigation
================================================== */

body {
    background-image: url('../../images/content_bg.jpg');
    }

header ul { 
    margin: .375em 0 0 0; 
    }


/* Content Navigation 
==================================================*/

#content {
    border: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    }

.section-title { margin: .5em 0; }
    
#content-nav ul { display: none; }

#mobile-content-nav { display: block; }


/* Content
==================================================*/

    /* Login
    ==================================================*/
    
    .login-content, .login-footer { width: 100%; }
        
        .login-content { margin-top: 0; }
            