/* Table of Contents
==================================================
	#Content Navigation 
	#Content */


/* Content Navigation
==================================================*/

#content-nav { font-size: .875em; }

/* Content
==================================================*/

.section-title { margin: 60px 0 10px 160px; }

.item-info { width: 40%; }
