/* 
Icons used in interface are Silk Icons, created by FamFamFam, and 
available at http://www.famfamfam.com/lab/icons/silk/ 
*/

/* 
Grid: 846px wide, 12 columns at 54px each, 11 gutters at 18px each.
1 = 54px
2 = 126px (6 columns)
3 = 198px (4 columns)
4 = 270px (3 columns)
5 = 342px
6 = 414px (2 columns)
7 = 486px
8 = 558px
9 = 630px
10 = 702px
11 = 774px
12 = 846px
*/

/* == Misc Classes == */
.navigation {overflow:hidden; zoom:1;}
.hide {width:0; height:0; position:absolute; left:-999em;}
.error {background:#f1c8ba; color:#933; margin:1.5em 0; font-size:1.2em; padding:1.5em;}
.field .error {clear:both;}
.success {background-color: #B9D5B9; color:#245525; font-size:1.2em;padding:1.5em;margin-bottom:1.5em;}
.alert {background:#fff09e; font-size:1.2em; padding: 1.5em;margin-bottom:0.5em;}
.tooltip {font-size:1.2em; line-height:1.5em;}
.errors {color:#933;}

/* == Form Components == */
form {overflow:hidden; zoom:1;}
div.field {overflow:hidden; zoom:1; position:relative; border-bottom:1px dotted #eee; padding: 18px 0;}
    
    label, div.label {font-size:1.2em; color:#444;font-weight:bold; margin-bottom:0.5em; text-align:left;display:block;width: 198px; float:left;}
    label.required:after {content: " *"; color:#777; font-size:14px;font-weight:normal;}
        
    input.textinput, select, textarea {border:1px solid #DDDAD3;padding:3px;background-color:#fff !important; font-family:"Lucida Grande", sans-serif; font-size:1.2em;}

    .submit, button, .button {
        text-align:center;
        text-decoration:none;
        color:#fff !important;
        clear:both; 
        margin:9px 0;
        background: #6d8e1d url("../images/glass-btn.png") repeat-x 0 50%; 
        float:right; 
        color:#fff;
        padding: 3px 6px;
        border:none; 
        border:1px solid #6d8e1d;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    }
    
    input.add-element, input.remove-element, .checkbox input {border:0; background-color:transparent !important;}
    
    .dateinput input {margin-right: 3px;}
    
    #required-note {font-size: 0.6em; color: #777; display: block;}
    
    /* Submit buttons - different sizes, uses background images */
    .submit-extrasmall {width: 46px;}
    .submit-small {width: 70px;}
    .submit-medium {width: 100px;}

    /* Plugins */
    .uninstall {background-color: #800 !important; border-color: #800 !important;}
    .deactivate {background-color:#c60 !important; border-color: #c60 !important;}
        
    .uninstall:hover, 
    .deactivate:hover {}

    /* Replaces tooltips */
    .field .explanation, .hint {font-size:11px; margin-bottom:0;color: #999; clear:both;}
    #item-form .field .explanation, #editfile .field .explanation, .hint {margin-left:216px; float:left; clear:right;}
    
    /* Changes the width of inputs depending on the layout */
        .vertical-nav .field label, .vertical-nav .field div.label {float:left; margin:0; width: 126px;}
        .vertical-nav #item-form .field .explanation, .vertical-nav .field .hint {margin-left: 144px;}
        
        /* .input used to wrap input fields in items/add form */
        .field .inputs {float:right; width: 594px; overflow:hidden; zoom:1;}
        .vertical-nav .field .inputs {width: 468px;}
                
/* == Layout == */

#primary { background:#fff; padding:18px;border:1px solid #d7d5c4; border-width: 3px 0;}
#secondary {}
#tertiary {background:#fff; padding: 18px; border:1px solid #d7d5c4; border-width: 3px 0;}

/* .primary */
.primary .vertical-nav #primary {width: 612px;}
.primary .vertical-nav #primary .textinput, .primary .vertical-nav #primary select {}

/* .primary-secondary */
.primary-secondary #primary, .vertical-nav #primary {float:left; width: 558px;}
.primary-secondary #secondary {float:right; width: 224px;}

/* .primary-secondary-tertiary */
.primary-secondary-tertiary #primary {float:left; width: 558px;}
.primary-secondary-tertiary #secondary {float:right; width: 224px;}
.primary-secondary-tertiary #tertiary {clear:both;}

/* Secondary content */
#secondary {}

/* == Navigation == */

/* vertical-nav */
.vertical-nav ul#section-nav {margin:0; padding:0;float:left; width: 198px;font-size:1.1em;margin-top:18px;background:transparent url("../images/list-border-tan.gif") bottom left repeat-x;}
    .vertical-nav ul#section-nav a {text-decoration:none; display:block;padding:9px 9px 6px; color: #467;background:transparent url("../images/list-border-tan.gif") top left repeat-x;}
    .vertical-nav ul#section-nav a:hover {background-color:#f6f5e9;}
    .vertical-nav ul#section-nav li.current a, .vertical-nav ul#section-nav li a.active {background:#fff !important; font-weight:bold;color: #c60;border:1px solid #d7d5c4;border-width:1px 0 0 3px;}

.horizontal-nav ul#section-nav {margin:0; padding:0;font-size:1.1em; padding:9px 0 12px;}
    .horizontal-nav ul#section-nav li {display:inline;}
    .horizontal-nav ul#section-nav a {text-decoration:none; padding:9px 12px 12px; width: 126px;  color: #467; }
    .horizontal-nav ul#section-nav a:hover {color: #467; background:#E1DFD0;}
    .horizontal-nav ul#section-nav li.current a {background:#d7d5c4;font-weight:bold;color: #333;border:1px solid #d7d5c4;border-width:0 0 1px;}

/* Side info panels */
.info-panel {background:#fff;overflow:hidden;zoom:1; z-index:100;border:1px solid #d7d5c4;display:block;margin-bottom:18px; padding:18px 18px 1px; border-width: 0 0 3px;}
    .info-panel h2 {margin:-18px -18px 18px; font-family:"Lucida Grande",Helvetica, Arial, sans-serif;font-size:1.2em;padding: 9px 18px; color: #fff; background: #467;}
    .info-panel h3 {font-size:1.2em; font-weight:bold; margin-bottom:0.5em;}
    .info-panel li {background:url("../images/bullet_blue.gif") 0 6px no-repeat; padding-left:20px;padding:7px 0 7px 20px;border-bottom:1px dotted #ddd;}
    .info-panel li a {text-decoration:none; display:block; color: #c60; }
    .info-panel li a:hover {color:#389;}
    .info-panel p, .info-panel ul, .info-panel ol {font-size:1.1em;}

    .info-panel input.textinput, .info-panel textarea {width: 180px !important;}

/* Previous/Next navigation */
.previous, .next {float:left; display:block; width: 48%;}
    .next {float:right; text-align:right;}

/* Icons */

.use-icon,
.contributor,
.super,
.admin,
.researcher,
.default,
.add,
.delete,
.delete-element,
.error,
.success,
.edit,
.browse,
.editsettings,
.managethemes,
.manageplugins,
.browse-users,
.add-user,
.edit-user,
.browse-collections,
.add-collection,
.add-file,
.previous a,
.add-element,
.remove-element
{background-position: 12px 50%; background-repeat:no-repeat; padding-left: 32px; text-decoration:none;}

table .edit, table .delete, table .researcher, table .super, table .admin, table .contributor {background-position:0px 50%; padding-left:18px;}

.go,
.next a
{background-position:center right; text-align:right;background-repeat:no-repeat; padding:2px 18px 2px 0; text-decoration:none;background-image:url("../images/bullet_go.gif");}

.previous a {background-image:url("../images/bullet_back.gif");}
.next a {background-image:url("../images/bullet_go.gif");}
.contributor {background-image:url("../images/user_red.gif");}
.super {background-image:url("../images/user_suit.gif");}
.admin {background-image:url("../images/user_orange.gif");}
.researcher {background-image:url("../images/user_green.gif");}
.default {background-image:url("../images/user_gray.gif");}
.add-file {background-image:url("../images/disk_multiple.gif");}
.add {background-image:url("../images/page_add.gif");}
.delete, .delete-element {background-image:url("../images/delete.gif");}
.error {background-image:url("../images/error.gif");}
.success {background-image:url("../images/tick.gif");}
.browse {background-image:url("../images/book_open.gif");}
.add-collection {background-image:url("../images/folder_add.gif");}
.browse-collections {background-image:url("../images/folder.gif");}
.editsettings {background-image:url("../images/cog.gif");}
.managethemes {background-image:url("../images/layout.gif");}
.manageplugins {background-image:url("../images/plugin.gif");}
.browse-users {background-image:url("../images/user_female.gif");}
.add-user {background-image:url("../images/user_add.gif");}
.edit-user {background-image:url("../images/pencil_go.gif");}
.edit {background-image:url("../images/pencil_go.gif");}
.browse-names {background-image:url("../images/group.gif");}
.add-element {background-image:url("../images/add.png");}
.remove-element {background-image:url("../images/delete.gif");}
