.field p.explanation {clear:both !important; display:block; margin-top: 8px !important; float:none !important;}

label.use-html {padding:4px 0 0 20px;}

a.add, .edit-button a {display:block; padding: 8px 8px 8px 36px;}

#footer {padding-bottom:18px;}