/* 
Grid: 846px wide, 12 columns at 54px each, 11 gutters at 18px each.
1 = 54px
2 = 126px (6 columns)
3 = 198px (4 columns)
4 = 270px (3 columns)
5 = 342px
6 = 414px (2 columns)
7 = 486px
8 = 558px
9 = 630px
10 = 702px
11 = 774px
12 = 846px
*/
/* == Reset styles == */
@import url("reset.css");

/* == Global Styles == */
body {font:62.5% "Lucida Grande",Helvetica, Arial, sans-serif; background:#a19885;color: #333;min-width:882px;}
	body#login {width: 414px; margin: 54px auto;}
	
	/* Headings */
	h1,#site-title {font-weight:normal; font-size:2em; margin-bottom:1em; line-height:1em;margin-right:12em;}
	h2 {font-size:1.5em; font-weight:normal; line-height:1.2em; margin-bottom:1.2em;}
	h3 {font-size:1.5em; line-height:1.2em; margin-bottom:1.2em;}
	h4 {font-size:1.2em; line-height:1.5em; font-weight:bold;}
	h5 {font-size:1.2em; line-height:1.5em; font-style:italic;}
	
	h1,h2 {color:#c50; font-weight:bold;}
	h2 {color:#467;}
	
	/* Links */
	a:link {color:#389;}
	a:visited {color:#389;}
	a:hover {color:#369;}
	a:active {color:#555;}

	h1 a, h2 a, h3 a {text-decoration:none;}
	a img {border:none;}
	
	/* Misc elements */
	p,ul,ol,dl,address {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em;}
	ul ul, dd * {font-size:1em; margin-left:1.5em;}
	ul {list-style:none;}

	em,i {font-style:italic;}
	strong,b {font-weight:bold;}
	
	/* Tables */
	table {width:100%;font-size:1.2em;margin-bottom:1.5em; line-height:1.5em;}
		thead { font-weight:bold;color:#c50;border:3px solid #999; border-width: 0 0 1px;}
		th,td {padding:0.5em;}
		tbody tr.even {}
		tbody tr {border-bottom:1px dotted #ddd;}
	
	table * {font-size:1em;margin:0;}
	
	/* Forms */
	div.field {overflow:hidden; zoom:1;}
	label {font-size:1.2em; font-weight:bold; margin-bottom:0.5em;}
	input, select {border:0; background-color:transparent !important;}
	input.textinput {border:1px solid #DDDAD3;padding:3px;background:#fff !important;}
	
	
	/* Misc Classes */
	.navigation {overflow:hidden; zoom:1;}
	.hide {width:0; height:0; position:absolute; left:-999em;}
	.error {background:#f1c8ba; color:#933; margin:1.5em; font-size:1.2em; padding:1.5em;}
	.field .error {clear:both;}
	.success {background-color: #B9D5B9; color:#245525; font-size:1.2em;}
	.alert {background:#fff09e; font-size:1.2em; padding: 0.5em;}

	.tooltip {font-size:1.2em; line-height:1.5em;}
	.info-bubble {background:#C7DFF1; z-index:100;display:block;margin-bottom:18px; padding:18px;}
		.info-bubble h2 {margin:-18px -18px 18px; border-bottom:1px solid #fff;font-size:1.2em;padding: 9px 18px; color: #fff; background: #389;}
	.previous, .next {float:left; display:block; width: 48%;}
		.next {float:right; text-align:right;}
	
	/* Icons */
	.contributor,
	.super,
	.admin,
	.researcher,
	.default,
	.add,
	.delete,
	.error,
	.success,
	.edit,
	.browse,
	.editsettings,
	.managethemes,
	.manageplugins,
	.browse-users,
	.add-user,
	.edit-user,
	.browse-collections,
	.add-collection,
	.browse-exhibits,
	.add-exhibit,
	.edit-exhibit,
	.delete-exhibit,
	.add-file,
	.previous a,
	.browse-names
	{background-position:top left; background-repeat:no-repeat; padding:2px 4px 2px 20px; text-decoration:none;}

	.go,
	.next a
	{background-position:center right; text-align:right;background-repeat:no-repeat; padding:2px 18px 2px 0; text-decoration:none;background-image:url("../images/bullet_go.gif");}

	.previous a {background-image:url("../images/bullet_back.gif");}
	.next a {background-image:url("../images/bullet_go.gif");}
	.contributor {background-image:url("../images/user_red.gif");}
	.super {background-image:url("../images/user_suit.gif");}
	.admin {background-image:url("../images/user_orange.gif");}
	.researcher {background-image:url("../images/user_green.gif");}
	.default {background-image:url("../images/user_gray.gif");}
	.add-file {background-image:url("../images/disk_multiple.gif");}
	.add {background-image:url("../images/page_add.gif");}
	.delete,.delete-exhibit {background-image:url("../images/delete.gif");}
	.error {background-image:url("../images/error.gif");}
	.success {background-image:url("../images/tick.gif");}
	.browse {background-image:url("../images/book_open.gif");}
	.browse-exhibits {background-image:url("../images/pictures.gif");}
	.add-exhibit {background-image:url("../images/picture_add.gif");}
	.edit-exhibit {background-image:url("../images/picture_edit.gif");}
	.add-collection {background-image:url("../images/folder_add.gif");}
	.browse-collections {background-image:url("../images/folder.gif");}
	.editsettings {background-image:url("../images/cog.gif");}
	.managethemes {background-image:url("../images/layout.gif");}
	.manageplugins {background-image:url("../images/plugin.gif");}
	.browse-users {background-image:url("../images/user_female.gif");}
	.add-user {background-image:url("../images/user_add.gif");}
	.edit-user {background-image:url("../images/pencil_go.gif");}
	.edit {background-image:url("../images/pencil_go.gif");}
	.browse-names {background-image:url("../images/group.gif");}
	
/* == Wrap == */
#wrap {}

/* == Header == */
#header {background:#251e16; padding-top: 2em;}

	#site-title {margin-bottom:1em;margin-left:36px;float:none;}
	#site-title a {text-decoration:none; color:#fff;}
	
	/* Header Primary Nav */
	#header .primary-nav {overflow:hidden; zoom:1;border:1px solid #999;background:#382e22; margin-bottom:0;padding-left:36px;border-width:1px 0 0; font-size:1.1em; font-weight:normal;}
		#header .primary-nav li {display:block; float:left; width: 10em;border-left:1px solid #999;}
		#header	.primary-nav a, a#site-settings-admin {text-decoration:none;display:block; float:left; text-indent:12px;color:#fafafa;width: 10em;padding: 8px 0 16px;background:#2E261C;}
		#header .primary-nav a:hover {background:#382E22;}
		#header .primary-nav .nav-tags,	#header .primary-nav .nav-settings {border-right:1px solid #999;}

	#header .primary-nav li.nav-settings {margin-right:36px;}
	#header .primary-nav li.nav-settings, #header .primary-nav li.nav-settings a {float:right;}
	
	#header .primary-nav li.current a, 
	.settings a#site-settings-admin,
	.themes a#site-settings-admin,
	.plugins a#site-settings-admin {background:#fff; color:#666;}
	
	a#site-settings-admin {float:right; display:none;font-size:1.2em; line-height:1.5em;}
	
	#user-meta {position:absolute; top:0px; right:0px; text-align:right; padding:6px 0; height:2em;background:#222; color:#eee;border:1px solid #555; border-width: 0 0 1px 1px;}
		#user-meta p {display:inline; font-size:1.1em;border-right:1px solid #333;padding:18px 18px 0; margin:0;}
		
/* == Content == */
#content {}
	#content .wrapper {background:#fff;border-top:1px solid #fff; z-index:1000; margin-top:-1px; position:relative;margin:0 36px; min-width:882px;overflow:hidden; zoom:1;}
	
	/* Homepage */
	#site-info {margin-left: 576px; min-width: 270px;}
		
	#welcome {float:left; width: 558px;}
	
	#getting-started dl {overflow:hidden;margin-bottom:18px;zoom:1; margin-left:0;display:block;}
		#getting-started dl * {font-size:1em;}
			#getting-started a {text-decoration:none;}
			#getting-started dt {clear: both; border-bottom:1px dotted #ccc; font-size:1.4em; display:block; padding-bottom:8px;margin-bottom:9px;}
			#getting-started dl ul {float:left; width:270px;margin:0 0 18px; padding:0;}
			#getting-started dl li {margin:0 0 0.5em;}
			#getting-started dd {overflow: hidden; display: inline;}
			#getting-started dd p {float:right; width: 270px;padding:0; margin:0 0 18px;}
				#getting-started p.help	{clear:both; padding: 1em 0 0; border-top:1px dotted #ccc; width}
	
	/* Content Navigation */
	#content-nav {background:transparent; background:#fff;width: 216px; font-size:1.5em; border-top:1px solid #555; float:right;overflow:hidden; zoom:1;padding: 18px 0;margin:3em 0 0;}
		#content-nav li {display:block;}
			#content-nav a {text-decoration:none;display:block; padding:6px 18px;border-top:1px solid #333; border-bottom:1px solid #555;}
			#content-nav li.current a {background:#fff; color:#333;}

	/* Primary content */
	#primary {padding:18px;overflow:hidden;zoom:1; background:#fff;}
	.narrow #primary {float:left; width: 630px;}

	/* Item Browse styles */
	#add-item {background-color:#d4ecb5; border:1px solid #ccc;border-width:1px; border-right-color: #696; border-bottom-color: #696;position:absolute; top:18px; right:18px;float:right; padding:8px 12px 8px 30px; background-position:8px 50%; font-size:1.2em; color:#060;width:6em; display:block;}
	#add-item:hover {background-color:#e9f6da;}
	
	/* Collection Browse styles */
	#add-collection {background-color:#d4ecb5; border:1px solid #ccc;border-width:1px; border-right-color: #696; border-bottom-color: #696;position:absolute; top:18px; right:18px;float:right; padding:8px 12px 8px 30px; background-position:8px 50%; font-size:1.2em; color:#060;width:8em; display:block;}
	#add-collection:hover {background-color:#e9f6da;}
	
/* == Footer == */
#footer {clear:both; padding: 18px 18px 1px;  overflow:hidden; zoom:1;margin:0 36px; min-width: 846px;background: #d3cfc6;}
	#footer p, #footer ul {font-size:1.1em;margin:0 0 18px;}
	#footer a {text-decoration:none; font-weight:bold; color: #c50;}
	#footer .primary-nav {float:right; width: 50%; text-align:right;}
	#footer p {float:left; width: 30%;}
	#footer .primary-nav li {display:inline;margin-left:1em;}
	
/* == Login Form */
#login #header, #login #footer {width: 414px; padding:18px; margin:0 auto;min-width: 414px;}
#login #content {background:#fff; width: 414px;padding:18px; margin:0 auto;}


#login #login-form .textinput {float:right; width: 280px;}
#login-form label {float:left; width: 72px; text-align:right;}
input.login, #add_item {background:none; color:#fff;border:none;width: 71px; height: 31px; _overflow:hidden; background:#333 url("../images/login-button.gif") 0 0 no-repeat !important;}
input.login:hover, #add_item:hover {background-position:0 -31px !important;cursor:pointer;}
#login-form input.login, #add_item {float:right;margin-top:9px; text-transform: uppercase; letter-spacing:1px; font-size:0.8em;}
#login-form div.field {background: #F2F1EE; padding:18px;margin-bottom:1px;}
#login-form label {}