/* 
Grid: 846px wide, 12 columns at 54px each, 11 gutters at 18px each.
1 = 54px
2 = 126px (6 columns)
3 = 198px (4 columns)
4 = 270px (3 columns)
5 = 342px
6 = 414px (2 columns)
7 = 486px
8 = 558px
9 = 630px
10 = 702px
11 = 774px
12 = 846px
*/

/* == Reset styles == */
@import url("reset.css");

/* == Component library == */
@import url("components.css");

/* == Global Styles == */
body {font:62.5% "Lucida Grande",Helvetica, Arial, sans-serif; background:#eae9db;color: #333;min-width:882px;}
	
	/* Headings */
	h1,#site-title {font-weight:normal; font-size:2.2em; margin-bottom:1em; line-height:1em;margin-right:12em;}
	h2 {font-size:1.8em; font-weight:normal; line-height:1.2em; margin-bottom:1.2em;}
	h3 {font-size:1.4em; line-height:1.2em; margin-bottom:1.2em;}
	h4 {font-size:1.2em; line-height:1.5em; font-weight:bold;}
	h5 {font-size:1.2em; line-height:1.5em; font-style:italic;}
	
	h1 {color:#a74c29;}
	h2 {color:#467;}
	
	h1,h2,h3,dt {font-family:Georgia, Times, "Times New Roman", serif;}

	/* Links */
	a:link {color:#389;}
	a:visited {color:#389;}
	a:hover {color:#369;}
	a:active {color:#555;}

	h1 a, h2 a, h3 a {text-decoration:none;}
	a img {border:none;}
	
	/* Misc elements */
	p,ul,ol,dl,address {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em;}
	ul ul, dd * {font-size:1em; margin-left:1.5em;}
	ul {list-style:none;}

	em,i {font-style:italic;}
	strong,b {font-weight:bold;}
	
	/* Tables */
	table {width:100%;font-size:1.2em;margin-bottom:1.5em; line-height:1.5em;}
		thead { font-weight:bold;color:#c50;border:3px solid #999; border-width: 0 0 1px;}
		th,td {padding:0.5em;}
		tbody tr.even {}
		tbody tr {border-bottom:1px dotted #ddd;}
	
	table * {font-size:1em;margin:0;}
	
	/* Forms */
	div.field {overflow:hidden; zoom:1; position:relative; border-bottom:1px dotted #eee; padding: 18px 0;}
	label {font-size:1.2em; font-weight:bold; margin-bottom:0.5em;}
	input, select {border:0; background-color:transparent !important;}
	input.textinput, select, textarea {border:1px solid #DDDAD3;padding:3px;background:#fff !important;}
	legend {font-size:1.5em;font-weight:normal; line-height:1.2em; margin-bottom:1.2em; color:#c50; }
	
	.field .explanation {font-size:1.1em; color: #999; float:right; clear:right; text-align:left; width: 558px;}
	
		.field label {float:left; text-align:right; width: 270px;}
		.field input.textinput, .field textarea {width: 550px; float:right; margin-bottom:6px;}
	
	/* Form Buttons */
	#add_item, #save-changes {background:none; float:right;color:#fff;border:none;width: 100px; height: 30px; _overflow:hidden; background:#333 url("../images/submit-medium.gif") 0 -30px no-repeat !important;}
	#add_item:hover, #save-changes:hover {background-position:0 0 !important;cursor:pointer;}
	
	
	
/* == Wrap == */
#wrap {}

/* == Header == */
#header {background:#251e16; padding-top: 0;clear:both;overflow:hidden; zoom:1;}

	#site-title {margin:1em 0;margin-left:36px;float:left; width: 10em;}
	#site-title a {text-decoration:none; color:#fff;}
	
	#user-meta {float:right; background: #1E1912;width: 162px;border:1px solid #777; padding: 18px 18px 1px; border-width: 0 0 0 1px;}
		#user-meta p {display:block; margin-bottom:9px;color: #999; margin-right:18px; font-size:1.1em;}
		#user-meta a {color:#fff; text-decoration:none;}
		
	/* Header Primary Nav */
	#header .primary-nav {overflow:hidden; zoom:1;border:1px solid #777;background:#382e22;clear:both; margin-bottom:0;padding-left:36px;border-width:1px 0 0; font-size:1.1em; font-weight:normal;}
		#header .primary-nav li {display:block; float:left; width: 125px;border-right:1px solid #d7d5c4;}
		#header	.primary-nav a {text-decoration:none;display:block; float:left; text-indent:12px;color:#fafafa;width: 125px;padding: 8px 0 16px;background:#2E261C;}
		#header .primary-nav a:hover {background:#382E22;}
		#header .primary-nav li.nav-items {border-left:1px solid #d7d5c4;}
		#header .primary-nav li.current a {background:#eae9db; color: #333; font-weight:bold;}
		
/* == Content == */
#content {}
	#content .wrapper {background:#fff; z-index:1000; margin-top:-1px; position:relative;margin:0 36px; width:846px;padding:18px;overflow:hidden; zoom:1;}
	
	#content h1 {background: #eae9db;margin:-18px -18px 18px; padding:18px 0; width: 882px;}
	/* Homepage */
	#site-info {margin-left: 576px;}
		
	
	#getting-started dl {overflow:hidden;margin-bottom:18px;zoom:1; margin-left:0;display:block;}
		#getting-started dl * {font-size:1em;}
			#getting-started a {text-decoration:none;}
			#getting-started dt {clear: both; border-bottom:1px dotted #ccc; font-size:1.4em; display:block; padding-bottom:8px;margin-bottom:9px;}
			#getting-started dl ul {float:left; width:270px;margin:0 0 18px; padding:0;}
			#getting-started dl li {margin:0 0 0.5em;}
			#getting-started dd {overflow: hidden; display: inline;}
			#getting-started dd p {float:right; width: 270px;padding:0; margin:0 0 18px;}
				#getting-started p.help	{clear:both; padding: 1em 0 0; border-top:1px dotted #ccc; width}
	
	/* Content Navigation */
	#content-nav {background:transparent; background:#fff;width: 216px; font-size:1.5em; border-top:1px solid #555; float:right;overflow:hidden; zoom:1;padding: 18px 0;margin:3em 0 0;}
		#content-nav li {display:block;}
			#content-nav a {text-decoration:none;display:block; padding:6px 18px;border-top:1px solid #333; border-bottom:1px solid #555;}
			#content-nav li.current a {background:#fff; color:#333;}

	/* Primary content */
	#primary { background:#fff;}
	.narrow #primary {float:left; width: 554px;}

	/* Secondary content */
	#secondary { background:#fff;}
	.narrow #secondary {float:right; width:270px; margin-top:6em;}
	
	/* Item Browse styles */
	#add-item {background-color:#d4ecb5; border:1px solid #ccc;border-width:1px; border-right-color: #696; border-bottom-color: #696;float:right; padding:8px 12px 8px 30px; background-position:8px 50%; font-size:1.2em; color:#060;width:6em; display:block;}
	#add-item:hover {background-color:#e9f6da;}
	
	#view-style {list-style:none; font-size:1.1em;overflow:hidden; zoom:1; border-bottom: 6px solid #389;margin-bottom:18px;}
	#view-style li {display:block; float:left; width: 10em;margin:0 1px 0 0;}
	#view-style li a {display:block; float:left; width: 8em;padding: 1em;border-bottom:1px solid #fff;text-align:center;color:#fff; text-decoration:none; background: #7DB3BE;}
		#view-style li a:hover {background: #589EAC;}
		#view-style a.current, #view-style a.current:hover {background: #389;border-bottom-color: #389;}
	
	table#items {margin-top:-12px;}
	
	/* Item Add/Edit Styles */
	#form-navigation {float:left; width: 270px; font-size:1.5em;}
		#form-navigation a {text-decoration:none; display:block; background: #d3cfc6; color: #333; margin-bottom:1px;padding: 8px 12px;}
	#item-metadata {margin-left: 298px;}
	
	/* Collection Browse styles */
	#add-collection {background-color:#d4ecb5; border:1px solid #ccc;border-width:1px; border-right-color: #696; border-bottom-color: #696;position:absolute; top:18px; right:18px;float:right; padding:8px 12px 8px 30px; background-position:8px 50%; font-size:1.2em; color:#060;width:8em; display:block;}
	#add-collection:hover {background-color:#e9f6da;}
	
/* == Footer == */
#footer {clear:both; padding: 18px 0 1px;  overflow:hidden; zoom:1;margin:0 36px; width: 882px;background: #eae9db;}
	#footer p, #footer ul {font-size:1.1em;margin:0 0 18px;}
	#footer a {text-decoration:none; font-weight:bold; color: #c50;}
	#footer .primary-nav {float:right; width: 50%; text-align:right;}
	#footer p {float:left; width: 30%;}
	#footer .primary-nav li {display:inline;margin-left:1em;}