/* == Reset Styles == */
@import url("reset.css");

/* == Generic == */
body {font:62.5% "Frutiger","Univers","Helvetica Neue",arial,helvetica, sans-serif; color:#444; background:#163d5c; width:860px; margin:0 auto; padding:20px 0;}
body#login {width:400px;}

/* Headings */
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
h1 {font-size:1.2em;line-height:1.66667em; margin-bottom:1.66667em; color:#933;}
h2 {font-size:2em; line-height:1em;margin-bottom:1em; color:#933;}
h3 {font-size:1.6em; line-height:1.25em; margin-bottom:1.25em;}
h4 {font-size:1.4em; line-height:1.4825em;margin-bottom:1.4825em; font-weight:bold;}
h5 {}
h6 {}

/* Links */
a:link {color:#38c;}
a:visited {color:#38c;}
a:hover {color:#369;}
a:active {color:#369;}
h1 a, h2 a, h3 a {text-decoration:none;}

/* Misc */
p,ul,ol,dl,table,div.editable {font-size:1.2em; line-height:1.66667em; margin-bottom:1.66667em;}
ul,ol {margin-left:1.5em;}
	li {line-height:1.66667em;}
dl dt, dl dd {display:block;}
dl dt {font-weight:bold;}
dl dd {margin-bottom:1.66667em;}
table {font-size:1.2em; width:100%;line-height:1.66667em; margin-bottom:1.66667em;}
thead {text-align:left;}
td,th {padding:1.66667em 0.833333em; line-height:1em;}

/* Form Elements */
fieldset {margin-bottom:2em;}
legend {color:#444; font-size:1.6em; margin-bottom:1.25em; line-height:1.25em;}
label,.label {font-size:1.2em; line-height:1.66667em; margin-bottom:0.4166666em;display:block;}
.textinput {margin-bottom:1.66667em; display:block;}

/* Reusable Classes */
.hide {text-indent:-1000em; height:0; width:0; overflow:hidden;}

.navigation {margin-left:0; padding-left:0; list-style:none;}
	.navigation li {display:inline;}
	.navigation a {text-decoration:none;}
	
.tags {list-style:none; margin-left:0; padding-left:0;}
	.tags li {display:inline;}

.error {background:#F1C8BA; color:#933;}
.alert {background:#fff09e;}

/* == Wrap == */
#wrap {background:#fff; overflow:hidden;}

/* == Header == */
#header {background:#fff;overflow:hidden;padding:0 20px 20px;}
#header h1 {font-size:2.4em; line-height:0.833333em; width: 400px; float:left;padding-bottom:0;padding-top:1.2em;}
	#header a {color:#933;}
	#user-meta { text-align:right;font-size:1.2em;color:#fff;background:#163d5c; margin:0 -20px;border-bottom:0.5em solid #933;padding:0.8333333em 0;}
		a#logout { color:#fff; text-decoration:none;border-left:1px dotted #ccc; padding-left:6px;}
		
/* == Navigation (of various levels) == */

	#primary-nav {overflow:hidden; padding:0; margin:0; float:right;text-align:right;font-size:1.2em;}
		#primary-nav li {display:inline-block; text-align:left; margin: 0;}
		#primary-nav a {color:#777; display:block; text-align:left;float:left;padding:30px 30px 0 10px; border-left:1px dotted #ccc;}
		#primary-nav a:hover { color:#444;}
	
	#primary-nav li.current a {background:#fff; color:#933; font-weight:bold;}
	
	#secondary-nav {background:#fff; margin: -20px 0 20px; padding:10px 0 0; overflow:hidden; border-top:1px dotted #ccc;}
		#secondary-nav li {display:block; float:left;margin-right:20px;}
		#secondary-nav li a {display:block; float:left;color:#777;}
		#secondary-nav li a:hover {}
		#secondary-nav li.current a {background:#fff; color:#444; font-weight:bold;}
	
	#tertiary-nav {text-align:right;}
		#tertiary-nav li {margin-left:10px;}
	
	#tertiary-nav li.current a {font-weight:bold;}
	
/* == Content == */
#content {padding:20px; background:#fff; overflow:hidden;clear:both;}
	#primary {float:left; width: 400px;}
	#secondary {float:right; width: 400px;}
	
	a.edit {}
	
	/* Homepage Styles */
	#recent-items ul {margin-left:0; padding-left:0;}
		#recent-items li { overflow:hidden; display:block;border-bottom:1px solid #fff;padding:0.833333em;}
		#recent-items li {background:#daedf5;}
		#recent-items li.odd {background:#EEF7FA;}
			#recent-items .title {float:left; display:block; width: 48%;}
			#recent-items .date {float:right; display:block; width:48%;text-align:right;}
			#recent-items a {text-decoration:none;}
			
	/* Items Browse */
	table#items {margin-top:1.6667em;}
	table#items th {color:#933; font-weight:bold;border:1px solid #fff; border-width: 1px 0; background:#fff;}
	table#items td {border:1px solid #fff; border-width:1px 0;}
	table#items tr {background:#daedf5;}
	table#items tr.odd {background:#EEF7FA;}
	table#items thead {border-bottom:1px solid #fff;}
	
	.archive-meta {background:#fff;overflow:hidden;padding:0.8333333em 0;}
		.archive-meta form {display:block; float:left; width:300px;}
		.pagination {float:right; width: 300px;font-size:1.2em; line-height:1.6667em; text-align:right;}
	
	/* Items Add-Edit pages */
	
	.tags li {display:inline;}
	
	/* Items Form Page */
	.field {border-top:1px dotted #A2C9E8; margin-bottom:1px;background:#daedf5; overflow:hidden;padding-top:1.66667em; padding-right:180px;padding-left:20px;}
		.field label, .field .label {float:left; width: 240px; font-weight:bold; text-align:right; }
		.field select { margin-left: 40px; margin-bottom:1.6667em;}
		.field .textinput {float:right; width:340px;}
		
		.dates {float:right; width: 340px;}
			.dateinput {display:inline; margin-right:20px;}
		#date_day, #date_year, #date_month {display:inline;float:none;}
		#date_day {width:20px;}
		#date_month {width:20px;}
		#date_year {width:40px;}
		
		.radio {float:right; width: 340px;}
		.radio label {width:10em; text-align:left; display:inline; float:none; margin-right:20px;}
		
		.file {overflow:hidden;}
		
	/* Collections Pages */
	.collection {overflow:hidden; border-top: 1px dotted #ccc;padding-top:1.66667em;}
		.collection h3 {float:left; width:260px;padding-bottom:0.833333em;}
		.collection p {float:right; width:540px;}
	
	#collection-info {float:left; width:400px;}
	#collection-items {float:right; width:400px;}
	#collection-items ul {margin-left:0; padding-left:0;}
		#collection-items li { overflow:hidden; display:block;border-bottom:1px solid #fff;padding:0.833333em;}
		#collection-items li {background:#daedf5;}
		#collection-items li.odd {background:#EEF7FA;}
			#collection-items .title {float:left; display:block; width: 48%;}
			#collection-items .date {float:right; display:block; width:48%;text-align:right;}
			#collection-items a {text-decoration:none;}
			
	/* Items Types Pages */
	.itemtype {overflow:hidden; border-top: 1px dotted #ccc;padding-top:1.66667em;}
		.itemtype h3 {float:left; width:260px;padding-bottom:0.833333em;}
		.itemtype p {float:right; width:528px;}
	
		#type-info {float:left; width:400px;}
		#type-items {float:right; width:400px;}
		#type-items ul {margin-left:0; padding-left:0;}
			#type-items li { overflow:hidden; display:block;border-bottom:1px solid #fff;padding:0.833333em;}
			#type-items li {background:#daedf5;}
			#type-items li.odd {background:#EEF7FA;}
				#type-items .title {float:left; display:block; width: 48%;}
				#type-items .date {float:right; display:block; width:48%;text-align:right;}
				#type-items a {text-decoration:none;}
	

	
	#file-list {clear:both;}
	.delete-link {clear:right;}
	#tags-list {clear:both;}			
	/* Tags Page */
	
	
	/* Settings Pages */
	
	/* Themes */
	.theme {border-top:1px dotted #ccc; overflow:hidden; padding-top:1.25em;}
	.theme label {font-size:1.6em; line-height:1.25em; margin-bottom:1.25em;}
		.theme label input {float:left; margin-right:12px; display:inline;}
		.theme .meta {float:left; width:400px;}
		.theme .description {float:right; width: 400px;}
		.theme img {float:left; display:block;}
		.theme .description p {float:right; width:180px;}

		.theme li {overflow:hidden; border-bottom:1px dotted #ccc; padding:0.83333em 0; margin-left:12px;}
		.theme .type {float:left; width: 6em;color:#933;}
		.theme .value {float:right; width: 16em; text-align:right;}
		
		
	/* Exhibits Pages */
	#item-select .item {
		float:left;
		display:block;
		width:100px;
		height:100px;
		border: solid 1px black;
	}
	#item-select .item-container {
		float:left;
		display:block;
		width:100px;
		height:100px;
	}
	#layout-form {
		clear:both;
	}
	
	#layout-form .drop-item {
		display:block;
		width:100px;
		height:100px;
		border: solid 1px black;
	}
	
	.item .item_id {
		font-style: italic;
		font-size: 2em;
	}

	table#exhibits {margin-top:1.6667em;}
	table#exhibits th {color:#933; font-weight:bold;border:1px solid #fff; border-width: 1px 0; background:#fff;}
	table#exhibits td {border:1px solid #fff; border-width:1px 0;}
	table#exhibits tr {background:#daedf5;}
	table#exhibits tr.odd {background:#EEF7FA;}
	table#exhibits thead {border-bottom:1px solid #fff;}
	
	
	/* Users Pages */
	table#users {margin-top:1.6667em;}
	table#users th {color:#933; font-weight:bold;border:1px solid #fff; border-width: 1px 0; background:#fff;}
	table#users td {border:1px solid #fff; border-width:1px 0;}
	table#users tr {background:#daedf5;}
	table#users tr.odd {background:#EEF7FA;}
	table#users thead {border-bottom:1px solid #fff;}
	
		/* -- Login page specific styles -- */
		#login .field label, #login .field .textinput {float:none; width:auto; text-align:left;}
		
/* == Footer == */
#footer {clear:both; padding:20px 0 0;background:#163d5c; border-top:0.5em solid #933;}
	#footer p {margin-bottom:0;}
	#footer a {color:#999; text-decoration:none;}
	#footer a:hover {color: #ccc;}