/* 
Grid: 846px wide, 12 columns at 54px each, 11 gutters at 18px each.
1 = 54px
2 = 126px (6 columns)
3 = 198px (4 columns)
4 = 270px (3 columns)
5 = 342px
6 = 414px (2 columns)
7 = 486px
8 = 558px
9 = 630px
10 = 702px
11 = 774px
12 = 846px
*/

/* == Reset styles == */
@import url("reset.css");

/* == Component library == */
@import url("components.css");

/* == Global Styles == */
body {font:62.5% "Lucida Grande",Helvetica, Arial, sans-serif; background:#eae9db;color: #333;min-width:882px;}
	
	/* Headings */
	h1,#site-title {font-weight:normal; font-size:2.2em; margin-bottom:1em; line-height:1em;margin-right:12em;}
	h2, legend {font-size:1.8em; font-weight:normal; line-height:1.2em; margin-bottom:1.2em;}
	h3 {font-size:1.4em; line-height:1.2em; margin-bottom:1.2em;}
	h4 {font-size:1.2em; line-height:1.5em; font-weight:bold;}
	h5 {font-size:1.2em; line-height:1.5em; font-style:italic;}
	
	h1 {color:#a74c29;}
	h2,form legend {color:#467;}
	
	h1,h2,dt,legend {font-family:Georgia, Times, "Times New Roman", serif;}

	/* Links */
	a:link {color:#389;}
	a:visited {color:#389;}
	a:hover {color:#369;}
	a:active {color:#555;}

	h1 a, h2 a, h3 a {text-decoration:none;}
	a img {border:none;}
	
	/* Misc elements */
	p,ul,ol,dl,address {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em;}
	ul ul {font-size:1em; margin-left:1.5em;}
	dd * {font-size:1em;}
	ul {list-style:none;}

	em,i {font-style:italic;}
	strong,b {font-weight:bold;}
	
	/* Tables */
	table {width:100%;font-size:1.2em;margin-bottom:1.5em; line-height:1.5em;}
		thead { font-weight:bold;color:#c50;border:1px solid #d7d5c4; border-width: 0 0 2px;}
		th,td {padding:0.5em 0.5em 0.4em;}
		tbody tr.even {}
		tbody tr {border-bottom:1px dotted #d7d5c4;}
	
	table * {font-size:1em;margin:0;}
			
	/* Form Buttons */
	#add-item, #save-changes {float:right; text-decoration:none;}
	.submit-medium {background:none; color:#fff;border:none;width: 100px; height: 30px; _overflow:hidden; background:#333 url("../images/submit-medium.gif") 0 -30px no-repeat !important;}
	#add-item:hover, #save-changes:hover, .submit-medium:hover {background-position:0 0 !important;cursor:pointer;}
	.submit-medium-red {background-position:0 0 !important;}
	
	/* Simple Search */
	#simple-search-form {padding:0;width: 212px;float:right;margin-top:0;text-align:right;}
		#simple-search input.textinput {border:0; background:#fff url("../images/search-input-bg.gif") top left no-repeat !important;display:block; float:left; width:143px; height: 15px;padding:5px 0 5px 5px;}
		#simple-search input#submit_search {background:none; color:#fff;border:none;width: 62px; height: 25px; _overflow:hidden; background:#333 url("../images/search-submit-bg.gif") 0 0 no-repeat !important;}
		#simple-search input#submit_search:hover {background-position:0 -25px !important;cursor:pointer;}
		#simple-search a {float:right; text-align:right; text-decoration:none; font-weight:bold; padding-top:4px;}

		#advanced-search-link a {text-decoration:none; font-weight:bold; color: #389;display:block; text-align:right;padding-top:5px; font-size:1.1em;}
	/* Pagination */
	
	.pagination {float:left; width: 414px;}
	.pagination li {display:inline;padding: 3px 6px;}
	.pagination li.pagination_current {display:inline;background:#389; color:#fff;}
	.pagination li.pagination_range, .pagination li.pagination_previous, .pagination li.pagination_first, .pagination li.pagination_next, .pagination li.pagination_last {padding:0;display:inline;}
	.pagination a {text-decoration:none; color:#333;background: #eae9db; padding: 3px 6px;}
	.pagination a:hover {background: #c60; color: #fff;}
	
	/* Tagclouds */
	
	.hTagcloud ul {list-style:none; margin-left:0; padding-left:0; line-height: 3em;}
		.hTagcloud li {display:inline;}
		.hTagcloud a {text-decoration:none;}

		.popular,.-popular {font-size:100%;}
		.v-popular {font-size:150%;}
		.vv-popular {font-size:200%;}
		.vvv-popular {font-size:250%;}
		.vvvv-popular {font-size:300%;}
		.vvvvv-popular {font-size:350%;}
		.vvvvvv-popular {font-size:400%;}
		.vvvvvvv-popular {font-size:450%;}
		.vvvvvvvv-popular {font-size:500%;}

		.popular a, .popular a:visited {color: #ccc;}
		.-popular a, .-popular a:visited {color: #ccc;}
		.v-popular a, .v-popular a:visited {color: #ccc;}
		.vv-popular a, .vv-popular a:visited {color: #bebebe;}
		.vvv-popular a, .vvv-popular a:visited {color: #b1b1b1;}
		.vvvv-popular a, .vvvv-popular a:visited {color: #a3a3a3;}
		.vvvvv-popular a, .vvvvv-popular a:visited {color: #959595;}
		.vvvvvv-popular a, .vvvvvv-popular a:visited {color: #888;}
		.vvvvvvv-popular a, .vvvvvvv-popular a:visited {color: #7a7a7a;}
		.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #6d6d6d;}

		.popular a:hover, .-popular a:hover {color: #389;}
		.v-popular a:hover {color: #389;}
		.vv-popular a:hover {color: #389;}
		.vvv-popular a:hover {color: #389;}
		.vvvv-popular a:hover {color: #389;}
		.vvvvv-popular a:hover {color: #389;}
		.vvvvvv-popular a:hover {color: #389;}
		.vvvvvvv-popular a:hover {color: #389;}
		.vvvvvvvv-popular a:hover {color: #389;}
		
/* == Wrap == */
#wrap {}

/* == Header == */
#header {background:#251e16; padding-top: 0;clear:both;overflow:hidden; zoom:1;}

	#site-title {margin:1em 0;margin-left:36px;float:left; width: 20em;}
	#site-title a {text-decoration:none; color:#fff;}
	
	#user-meta {float:right; background: #1E1912;width: 162px;border:1px solid #777; padding: 18px 18px 1px; border-width: 0 0 0 1px;}
		#user-meta p {display:block; margin-bottom:9px;color: #999; margin-right:18px; font-size:1.1em;}
		#user-meta a {color:#fff; text-decoration:none;}
		
	/* Primary Nav */
	.primary-nav {overflow:hidden; zoom:1;border:1px solid #777;background:#382e22;clear:both; margin-bottom:0;padding-left:36px;border-width:1px 0 0; font-size:1.1em; font-weight:normal;}
		.primary-nav li {display:block; float:left; width: 125px;border-right:1px solid #d7d5c4;}
		.primary-nav a {text-decoration:none;display:block; float:left; text-indent:12px;color:#fafafa;width: 125px;padding: 8px 0 16px;background:#2E261C;}
		.primary-nav a:hover {background:#382E22;}
		.primary-nav li.nav-items {border-left:1px solid #d7d5c4;}
		.primary-nav li.current a, 
		.themes .primary-nav li.nav-settings a, 
		.plugins .primary-nav li.nav-settings a,
		.users .primary-nav li.nav-settings a {background:#eae9db; color: #333; font-weight:bold;}
		
/* == Content == */
#content { z-index:1000; margin-top:-1px; position:relative;margin:0 0 0 36px; padding:18px 0 0;width:846px;overflow:hidden; zoom:1;}
	
	#content h1 {background: #eae9db;margin:-18px 0 18px; padding:18px 0 0; width: 846px;}
	
	/* Homepage */
	
		#getting-started dl {overflow:hidden;margin-bottom:18px;zoom:1; margin-left:0;display:block;}
		#getting-started dl * {font-size:1em;}
			#getting-started a {text-decoration:none;}
			#getting-started dt {clear: both; border-bottom:1px dotted #ccc; font-size:1.4em; display:block; padding-bottom:8px;margin-bottom:9px;}
			#getting-started dl ul {float:left; width:252px;margin:0 0 18px; padding:0;}
			#getting-started dl li {margin:0 0 0.5em;}
			#getting-started dd {overflow: hidden; display: inline;}
			#getting-started dd p {float:right; width: 252px;padding:0; margin:0 0 18px;}
				#getting-started p.help	{clear:both; padding: 1em 0 0; border-top:1px dotted #ccc;}

		/* Info Panels - styles that enhance or override the component library styles */	
		#tag-cloud li, #tag-cloud li a {padding:0; border:none;background-image:none; display:inline;}

		#recent-items ul {margin-bottom:0;}
		#recent-items ul a {overflow:hidden; zoom:1;}
		#recent-items #view-all-items a {display:block; text-decoration:none; background:url("../images/bullet_go.gif") 100% 6px no-repeat; width: 7em;float:right;padding:6px 18px;}
	
	/* Item Browse styles */
	#items-browse {clear:both;}
	#browse-meta {overflow:hidden; zoom:1;padding-bottom:18px;border-bottom:2px solid #d7d5c4;}
	table#items {width:100%;} 
	
	#add-item {position:absolute; top:18px; right:0;}
	
	.items #primary {clear:right;}
	
	/* Item show styles */
	.element-text, .element-text-empty {margin-bottom:1.5em; margin-left:18px;font-size:1.2em; line-height:1.5em;}
		.element-text *, .element-text-empty * {font-size:1em;}
		
	/* Item add-edit styles */
	#public-featured {position:absolute; top:36px; right:0; text-align:right;}	
		#public-featured .checkbox {text-align:right;float:none; overflow:hidden; display:inline;}
		#public-featured label, #public-featured input {display:inline; text-align:right;float:none; width: auto;}
	
	/* Collection Browse styles */
	
	
	/* Settings */
	#settings-form .submit {float:right;}
	
	/* Users */
	#new-user-form .submit {float:right;}
	
	/* Themes */
	#themeswitch {margin-right:-18px; overflow:hidden; zoom:1;}
	#themeswitch .theme {overflow:hidden; zoom:1; margin-right:18px;border-bottom: 1px solid #d7d5c4;margin-bottom:18px; padding-bottom:18px;}
		#themeswitch .theme img {border:1px solid #d7d5c4;}
		#themeswitch label {float:none !important; text-align:left; font-size:1.4em;width: auto;}

		#current-theme {background: #D1E5EF; padding: 18px;margin-bottom:18px;}
		#current-theme * {color: #467;}
/* == Footer == */
#footer {clear:both; padding: 18px 0 1px;  overflow:hidden; zoom:1;margin:0 36px; width: 882px;background: #eae9db;}
	#footer p, #footer ul {font-size:1.1em;margin:0 0 18px;}
	#footer a {text-decoration:none; font-weight:bold; color: #c50;}
	#footer .primary-nav {float:right; width: 50%; text-align:right;}
	#footer p {float:left; width: 30%;}
	#footer .primary-nav li {display:inline;margin-left:1em;}