/* Table of Contents
==================================================
    #Basic Styles    
        #Tables
        #Form Elements
            #Buttons
            #Checkboxes
        #Alerts
    #Global Navigation
    #Content Navigation
    #Save Panel
    #Content
        #Dashboard
        #Browse Plugins
        #Browse Items
        #Show Item */
        
        
/* Basic Styles
================================================== */

body {
    background-image: url('../images/bg.jpg');
    color: #4C3939;
    font-family: "Cabin", sans-serif;
    padding: 0;
    margin: 0;
    }

h1 {
    font-family: "Arvo", serif;
    font-size: 1.75em;
    font-weight: normal;
    }

h2 {
    font-size: 1.3125em;
    }
    
h3 {
    font-size: 1.3125em;
    font-weight: normal;
    }
    
h4 {
    font-size: 1em;
    }
    
h5 {
    font-family: "Arvo", serif;
    }

a:link {
    color: #B86644;
    text-decoration: none;
    }
    
    a:hover, a:active {
        color: #E57F52;
        }
        
    a:visited {
        color: #A28E8A;
        }
    
p, li {
    font-size: .875em;
    line-height: 1.5em;
    }
    
.serif {
    font-family: "Arvo", serif;
    font-weight: normal;
    }
    
.right {
    float: right;
    }
    
.left {
    float: left;}


    /* Table styles 
    ================================================== */
    
    table {
        width: 100%;
        border-collapse: collapse;
        clear: both;
        margin-bottom: 1em;
        }
    
    th {
        background-color: #EBEADC;
        border: 1px solid #E4E3D3;
        font-size: .875em;
        padding:  .25em .625em;
        text-align: left;
        font-weight: normal;
        }
        
        th a:link, th a:visited { color: #4E7181; }
    
    tr {
        background-color: rgba(255,255,255,.5);
        }
        
    td {
        border: 1px solid #E4E5DE;
        font-size: .875em;
        padding: .625em;
        vertical-align: top;
        }

    .action-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        .action-links a {
            color: #4E7181;
            }

        .action-links li {
            display: inline-block;
            }

            .action-links li:after {
                content: ' \00b7';
                }

            .action-links li:last-child:after {
                content: '';
                }
        
    #batch-edit-heading {
        width: 1%;
        text-align: center;
        }
    
    
    /* Form elements 
    ================================================== */
    
    form, fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        }
        
    legend {
        font-size: 1.3125em;
        font-weight: normal;
        margin-bottom: 1em;
        padding: 0;
        }
                
    select {
        min-width: 120px;
        background: #e2e2e2; /* Fallback */
        background: url('../images/dropdown-arrow.png') no-repeat right center; /* Fallback */
        background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(top, #f8f8f8, #e2e2e2);
            background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
            background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
            background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
            background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top, #f8f8f8, #e2e2e2);
            background: url('../images/dropdown-arrow.png') no-repeat right center, -ms-linear-gradient(top, #f8f8f8, #e2e2e2);
        border: 1px solid #D8D8D8;
        border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -o-border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,.05);
            -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.05);
            -o-box-shadow: 1px 1px 2px rgba(0,0,0,.05);
        font-family: "Cabin", sans-serif;
        color: #666666;
        border-radius: 0;
        overflow: hidden;
        font-size: .875em;
        padding: 0.375em 1em;
        }
        
    input[type=text], input[type=password] {
        height: 20px;
        border: 1px solid #d8d8d8;
        border-radius: 0;
        box-shadow: 0 0 .375em #d6d6d6 inset;
            -webkit-box-shadow: 0 0 .375em #d6d6d6 inset;
            -moz-box-shadow: 0 0 .375em #d6d6d6 inset;
            -o-box-shadow: 0 0 .375em #d6d6d6 inset;
        color: #666666;
        font-family: "Cabin", sans-serif;
        font-size: .875em;
        line-height: 20px;
        padding: 0 2%;
        }
        
        input[type=text].big {
            font-size: .875em;
            padding: .375em;
            }
            
        input[type=text].small {
            font-size: .875em;
            padding: 0;
            }
    
    .field {
        clear: both;
        overflow: auto;
        margin-bottom: 20px;
        }
            
        .field label {
            clear: left;
            float: left;
            margin-bottom: 10px;
            min-width: 120px;
            }
            
        .field select {
            min-width: 50%;
            margin-bottom: 10px;
            }
            
    .inputs select {
        margin-top: 0;
        }
        
    .input {
        margin-bottom: 10px;
        }
        
    textarea {
        width:95.75%;
        border: 1px solid #d8d8d8;
        border-radius: 0;
        box-shadow: 0 0 .375em #d6d6d6 inset;
            -webkit-box-shadow: 0 0 .375em #d6d6d6 inset;
            -moz-box-shadow: 0 0 .375em #d6d6d6 inset;
            -o-box-shadow: 0 0 .375em #d6d6d6 inset;
        color: #666666;
        font-family: "Cabin", sans-serif;
        font-size: .875em;
        padding: 2%;
        }
                
        /* Buttons 
        ================================================== */
            
        a.button, input[type=submit], button {
            background-image:url('../images/green-button.jpg');
            box-shadow: 1px 1px 2px rgba(0,0,0,.35);
                -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
                -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
                -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
            border-radius: 0;
            border-top: 1px solid rgba(0,0,0,.1);
            border-left: 1px solid rgba(0,0,0,.3);
            border-right: 1px solid rgba(0,0,0,.3);
            border-bottom: 1px solid rgba(0,0,0,.3);
            color: #ffffff;
            cursor: pointer;
            font-family: "Cabin", sans-serif;
            font-size: .875em;
            display: inline-block;            
            line-height: 20px;
            margin: 0 5px 20px 0;
            padding: 0 10px;            
            text-align: center;
            text-shadow: -1px -1px 1px rgba(0,0,0,.5);
            } 
            
        a.button.big, input[type=submit].big, button.big {
            height: 32px;
            display: block;
            line-height: 32px;
            font-family: "Arvo",serif;
            font-size: 1em;
            margin: 10px auto;
            }
            
        a.button.small, input[type=submit].small, button.small {
            font-family: "Cabin", sans-serif;
            font-size: .875em;
            display: inline-block;            
            line-height: 20px;
            margin: 0 5px 20px 0;
            padding: 0 10px;
            }
            
        a.button.blue, input[type=submit].blue, button.blue {
            background-image:url('../images/blue-button.jpg');    
            border-top: 1px solid rgba(0,0,0,.2);
            border-left: 1px solid rgba(0,0,0,1);
            border-right: 1px solid rgba(0,0,0,1);
            border-bottom: 1px solid rgba(0,0,0,1);
            }
            
        a.button.red, input[type=submit].red, button.red {
            background-image:url('../images/red-button.jpg');
            border-top: 1px solid rgba(0,0,0,.1);
            border-left: 1px solid rgba(0,0,0,.3);
            border-right: 1px solid rgba(0,0,0,.3);
            border-bottom: 1px solid rgba(0,0,0,.3);
            }
            
        a.button.green, input[type=submit].green, button.green {
            background-image:url('../images/green-button.jpg');
            border-top: 1px solid rgba(0,0,0,.1);
            border-left: 1px solid rgba(0,0,0,.3);
            border-right: 1px solid rgba(0,0,0,.3);
            border-bottom: 1px solid rgba(0,0,0,.3);
            }
            
        /* Checkboxes 
        ================================================== */
        
            


        /* Alerts
        ================================================== */
        
        .success {
            background-color: rgba(255, 255, 255, .5);
            border: 1px solid #E7E7E7;
            border-radius: 3px;
            color: #729108;
            font-size: .875em;
            margin-bottom: 20px;
            padding: .5em;            
            }


/* Global Navigation 
================================================== */

header {
    width: 100%;
    background-color: #2A2520;
    border-image: url('../images/red-bg.jpg') 5 repeat;
        -webkit-border-image: url('../images/red-bg.jpg') 5 repeat;
        -moz-border-image: url('../images/red-bg.jpg') 5 repeat;
        -o-border-image: url('../images/red-bg.jpg') 5 repeat;
    border-width: 0 0 .375em 0;
    box-shadow: 0px 0px 5px #666666;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
        -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    color: #FFFFFF;
    font-family: "Arvo", serif;
    font-size: .875em;
    position: fixed;
    top: 0;
    overflow: auto;
    padding:  .625em 0;
    text-shadow: 1px 1px 1px #000000;
    z-index: 1;
    }
    
header a:link, header a:visited {
    color: #CCCCCC;
    }
    
    header a:hover, header a:active {
        color: #FFFFFF;
        }
    
header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
    header li {
        display: inline-block;
        float: left;
        margin-right: .625em;
        }
        
        header li:last-child {
            margin-right: 0;
            }

#site-title {
    float: left;
    font-weight: 700;
    }
    
header nav {
    float: right;
    }
    
    header li {
        font-size: 1em;
        }
    
#user-nav {
    float: left;
    }
            
#global-nav {
    float: left;
    margin-right: 1.5em;
    }
    

/* Content Navigation  
================================================== */

.content-nav {
    position: fixed;
    top: 50px;
    z-index: 10;
    }

.content-nav ul {    
    width: 100%;
    border-top: 1px solid rgba(0,0,0,1);
    font-family: "Arvo", serif;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    float: left;
    clear: left;
    }
    
.content-nav li {
    height: 2.1875em;
    background-image: url('../images/navbg-gray.jpg');
        border-right: 1px solid rgba(0,0,0,1);
        border-bottom: 1px solid rgba(0,0,0,1);
        border-left: 1px solid rgba(0,0,0,1);
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
        -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
    font-size: 1em;
    line-height: 100%;
    text-shadow: -1px -1px 1px rgba(0,0,0,1);
    overflow: hidden;
    position: relative;
    z-index: 1000;
    }
    
    .content-nav li:hover, .content-nav li:active {
        background-image: url('../images/navbg-gray2.jpg');
        }
                
    .content-nav li a {
        height: 100%;
        color: #ffffff;
        display: block;
        line-height: 2.1875em;
        padding: 0 1.125em;
        }
        
    .content-nav li a:hover, .content-nav li a:active {
        color: #FFFFCC;
        text-shadow: -1px -1px 1px rgba(0,0,0,.75)
        }
        
.content-nav .current {
    background-image: url('../images/navbg-blue.jpg');
    position: relative;
    box-shadow: 0 0 0;
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
        -o-box-shadow: 0 0 0;
    overflow: visible;
    }
    
    .content-nav .current:hover, .content-nav .current:active {
        background-image: url('../images/navbg-blue.jpg');
        }
    
    .content-nav .current a {
        height: auto;
        background-color: transparent;
        display: block;
        }
        
    .content-nav .current a:hover, .content-nav .current a:active {
        background-color: transparent;
        }
        
.content-nav li span {
    position: absolute;
    font-style:italic;
    top: -9000px;
    left: -9000px;
    display: block;
    width: 260%;
    }
    
.content-nav li:hover span, .content-nav li:focus span, .content-nav li:active span {
    top: 0px;
    left: 130px;
    }
    
#mobile-content-nav {
    display: none;
    width: 100%;
    background: #1C4E65; /* Fallback */
    background: url('../images/dropdown-arrow.png') no-repeat right center; /* Fallback */
    background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#1C4E65), to(#164052));
        background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top, #1C4E65, #164052);
        background: url('../images/dropdown-arrow.png') no-repeat right center, -ms-linear-gradient(top, #1C4E65, #164052);
    border: 1px solid #11303F;
    color: #f7f7f7;
    font-family: "Arvo", serif;
        }


/* Save Panel
================================================== */

#save {
    float: right;
    }
    
    #save .field {
        border-top: 1px solid #e7e7e7;
        overflow: visible;
        padding-top: 20px;
        }
        
        #save .field:last-child {
            margin-bottom: 0;
            }

        
    #save label {
        float:none;
        }
    
    #save .pagination li {
        margin: 0;
        }
                
    #save #previous-item {
        float: left;
        }
        
    #save #next-item {
        float: right;
        }
        
    #save .big {
        width: 100%;
        margin: 10px auto;
        padding: 0;
        }

    #save select {
        width: 100%;
        margin: 10px 0 0 0;
        }
        
    
    #save input[type=submit] {
        }

        #save .big:first-child {
            margin-top: 0;
            }

#add-tags-explanation {
    margin: 0 0 10px 0;
    }
    
/* Content  
================================================== */

#content { 
    background-image: url('../images/content_bg.jpg');
    border-image: url('../images/red-bg.jpg') 50 repeat; 
        -webkit-border-image: url('../images/red-bg.jpg') 50 repeat;
        -moz-border-image: url('../images/red-bg.jpg') 50 repeat; 
        -o-border-image: url('../images/red-bg.jpg') 50 repeat; 
    border-width: .375em 0 0 0; 
    box-shadow: 0 0 1px #999999; 
        -webkit-box-shadow: 0 0 1px #999999; 
        -moz-box-shadow: 0 0 1px #999999; 
        -o-box-shadow: 0 0 1px #999999; 
    }    

        #content h1:first-child, #content h2:first-child {
            margin-top: 0;
            }
        
.panel {
    background-color: #fafafa;
    border-top: 5px solid #e1e1e1;
    box-shadow: 0 1px 5px #cccccc;
        -webkit-box-shadow: 0 1px 5px #cccccc;
        -moz-box-shadow: 0 1px 5px #cccccc;
        -o-box-shadow: 0 1px 5px #cccccc;
    display: block;
    margin: 10px 0;
    padding: 10px 10px 0 10px;
    overflow: auto;
    word-wrap: break-word;
    }
    
    .panel:first-child {
        margin-top: 0;
        }
    
    .panel h1, .panel h2, .panel h3, .panel h4 {
        margin-top: 0;
        }    
        
    .panel ul {
        padding: 0 0 0 30px;
        }
    
        
    .recent-row {  
        border-bottom: 1px solid #e7e7e7;
        overflow: auto; 
        margin: 10px 0;
        }
        
        .recent-row p {
            margin: 0 0 10px 0;
            }
    
        .recent { 
            width: 75%;
            float: left;
            margin: 0;
            }
    
        .dash-edit { float: right;
            margin: 0; 
            }


    /* Login  
    ================================================== */

    .error {
        color: #914E33;
        font-style: italic;
        }
    
    #fieldset-login .field {
        width: 280px;
        display: block;
        margin: 10px auto;
        clear: left;
        line-height: 23px;
        overflow: auto;
        }
        
        #fieldset-login .field label {
            float: left;
            text-align: right;
            }
            
    #forgotpassword {
        font-size: .875em;
        margin: 10px 0;
        }
        
    #fieldset-login .inputs {
        overflow: auto;
        }
    
        #fieldset-login .inputs input[type=text], #fieldset-login .inputs input[type=password] {
            width: 140px;
            height: 20px;
            font-size: 1em;
            line-height: 20px;
            float: right;
            }
    
    .login-content {
        border-left: 1px solid #000;
        margin: auto;
        overflow: auto;
        text-align: center;
        }
        
        .login-content h1 {
            background-image: url('../images/blue-banner.jpg');
            color: #ffffff;
            clear: both;
            padding: 0;
            height: 53px;
            line-height: 53px;
            margin-bottom: 0;
            display: inline-block;
            text-shadow: 0 0 1px #000000;
            }
            
            .login-content h1:before {
                background-image: url('../images/blue-banner_left.jpg');
                content: "";
                padding: 10px 14px;
                margin: 0 50px 0 0;
                }
                
            .login-content h1:after {
                background-image: url('../images/blue-banner_right.jpg');
                content: "";
                padding: 10px 14px;
                margin: 0 0 0 50px;
                }
                
                
    .login-footer {
        width: 480px;
        font-size: .875em;
        margin: auto;
        text-align: center;
        }
                
    .optional {
        float: left;
        }
        
    #remember {
        float: left;
        margin: 6px;
        }
                
    #submit {
            height: 30px;
            background-image:url('../images/green-button.jpg');
            border-top: 1px solid rgba(0,0,0,.1);
            border-left: 1px solid rgba(0,0,0,.3);
            border-right: 1px solid rgba(0,0,0,.3);
            border-bottom: 1px solid rgba(0,0,0,.3);
            box-shadow: 1px 1px 2px rgba(0,0,0,.35);
                -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
                -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
                -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
            border-radius: 0;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: "Arvo", serif;
            line-height: 100%;
            font-size: 1em;
            margin: 10px 5px 20px 0;
            padding: 0 10px;
            text-shadow: -1px -1px 1px rgba(0,0,0,.5);        
        }
    
    
    
    /* Dashboard  
    ================================================== */
    
    #stats {
        display: inline-block;
        text-align: center;
        margin: auto;
        }
        
    #stats p {
        min-width: 3em;
        display: inline-block;
        font-family: "Arvo", serif;
        font-style: italic;
        font-size: .875em;
        text-align: center;
        margin: 1em .625em;
        }
        
        #stats p:first-child {
            margin-left: 0;
            }
        
        #stats p:last-child {
            margin-right: 0;
            }
        
        #stats a {
            font-size: 2em;
            font-style: normal;
            }


    /* Browse Plugins
    ================================================== */

    .plugins.browse a.button, .plugins.browse input[type=submit], .plugins.browse button {
        width: 90px;
        float: left;
        padding: 0;
        }
        
    .plugin-row {
        overflow: auto;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
        }
        
        .plugin-row:last-child {
            border-bottom: 0;
            }
        
    .plugin-title {
        clear: left;
        }
    
    .plugin-title, .plugin-meta, .plugin-description {
        margin: 0;
        }
    
    .plugin-meta {
        font-style: italic;
        }
            
    /* Browse Items  
    ================================================== */
    
    #simple-search-form {
        float: right;
        }
        
        #submit_search {
            margin: 0 0 5px 0;
            }
            
    #simple-search-form input[type=text] {
        height: 20px;
        margin: 0;
        }
        
    #advanced-search-link {
        float: right;
        font-size: .875em;
        margin-bottom: 20px;
        }
        
    #quick-filter {
        width: 90px;
        height: 22px;
        font-size: .875em;
        line-height: 19px;
        padding: 0 .5em;
        margin: 0px 3px 20px 0;
        text-shadow: -1px -1px 1px #ffffff;
        }
        
    .items-browse {
        clear: both;
        width: 100%;
        margin: 1em 0;
        }
        
        .items-browse input[type=submit], .items-browse a.button, .items-browse button {
            float: left;
            }
            
        .item-actions {
            clear: both;
            float: left;
            }
    
    .item-details {
        background-color: #fff;
        border: 1px solid #E4E5DE;
        border-radius: 3px;
        margin-top: .5em;
        padding: .5em;
        }
    
    .items-browse .pagination {
        float: right;
        }
        
    .pagination {
        overflow: auto;
        }
        
        .pagination {
            margin: 0;
            padding: 0;
            }
        
        .pagination li {
            height: 20px;
            background: #e2e2e2; /* Fallback */
            background-image: linear-gradient(top, #f8f8f8, #e2e2e2);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
                background-image: -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
                background-image: -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
                background-image: -o-linear-gradient(top, #f8f8f8, #e2e2e2);
                background-image: -ms-linear-gradient(top, #f8f8f8, #e2e2e2);
            border: 1px solid #D8D8D8;
            -webkit-appearance: none;
            border-radius: 0;
            box-shadow: 1px 1px 2px rgba(0,0,0,.05);
                -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.05);
                -o-box-shadow: 1px 1px 2px rgba(0,0,0,.05);
            color: #666666;
            font-family: "Cabin", sans-serif;
            float: left;
            font-size: .875em;
            line-height: 20px;
            list-style-type: none;
            margin: 0 3px;
            padding: 0 .625em;
            }
            
            .pagination li:last-child {
                margin-right: 0;
                }
                
            li:empty {
                display: none;
                }
                
                
    /* Show Item  
    ================================================== */
    
    .element {
        margin: 0 0 1em 0;
        overflow: auto;
        }
        
        .element h3 {
            margin: 0 0 1em 0;
            line-height: .875em;
            }
    
    .element-text {
        float: right !important;
        font-size: .875em;
        }

    /* Batch Edit Items
    ================================================== */
    
    #item-list {
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        background-color: rgba(255,255,255,.5);
        margin-bottom: 20px;
        padding-top: 10px;
        }
        
        #item-list h2 {
            margin: 0 0 0 10px;
            }
        
            
    /* Edit Item  
    ================================================== */
    
    #all-tags-list {
        list-style-type: none;
        padding: 0;
        }
        
    .controls {
        float: left;
        }
        
    .explanation {
        clear: both;
        font-style: italic;
        }
        
    #public-featured {
        margin: 10px 0;
        padding: 10px 0;
        }
        
    .use-html {
        clear: none !important;
        }
    
    #section-nav {
        font-family: "Arvo", sans-serif;
        list-style-type: none;
        margin: -1em 0 1em 0;
        padding: 0;
        }
        
        #section-nav li {
            display: inline-block;
            }
            
        #section-nav a {
            display: inline-block;
            padding: 10px;            
            }
                        
        #section-nav .current a, #section-nav a.active {
            background-image: url('../images/red-bg.jpg');
            box-shadow: 0px 2px 3px #cccccc;
                -webkit-box-shadow: 0px 2px 3px #cccccc;
                -moz-box-shadow: 0px 2px 3px #cccccc;
                -o-box-shadow: 0px 2px 3px #cccccc;
            color: #ffffff !important;
            text-shadow: -1px -1px 1px rgba(0,0,0,.05);
            }
            
    #tags {
        width: 96%;
        margin: 10px 0;
        }

    /* Show Collections
    ================================================== */
    
    #collector-list, #collection-items ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        
        #collector-list li, #collection-items li {
            border-bottom: 1px solid #cccccc;
            padding: 10px 0;
            }
            
            #collector-list li:last-child, #collection-items li:last-child {
                border-bottom: 0;
                }
                
    /* Browse Themes
    ================================================== */

    #configure-button {
        width: 100%;
        font-family: "Arvo", sans-serif;
        margin: 10px 0;
        padding: 3px 0;
        }    

        
        #current-image .crop {
            border: 10px solid transparent;
            box-shadow: 0 0 5px rgba(0,0,0,.1);
            height: 200px;
            overflow: hidden;
            }
        
        #current-image img {
            width: 100%;
            }
    
    #current-theme {
        width: 100%;
        border-bottom: 5px solid #eceadd;
        padding-bottom: 20px;
        margin-bottom: 20px;
        float: left;
        }
                    
    #current-theme ul {
        list-style-type: none;
        padding: 0;
        }
        
    #current-theme-title {
        background-image: url('../images/beige-banner_bg.jpg');
        height: 40px;
        display: inline-block;
        font-family: "Arvo", sans-serif;
        font-weight: normal;
        font-size: 1em;
        line-height: 40px;
        margin: 0 0 1em -2px;
        text-shadow: -1px -1px 0px #f7f7f7;
        }
        
        #current-theme-title:before {
            content: "";
            margin-right: 10px;
            padding: 11px 1px 10px 2px;
            background-image: url('../images/beige-banner_left.jpg');
            }
            
        #current-theme-title:after {
            content: "";
            margin-left: 10px;
            padding: 10px 14px 12px 14px;
            background-image: url('../images/beige-banner_right.jpg');
            }
    
    .themes .group .theme {
        height: 300px;
        }
            
        .themes .theme .author {
            font-style: italic;
            margin: 0;
            padding: 0;
            }
            
        .themes .theme .crop {
            height: 120px;
            border: 1px solid #e7e7e7;
            margin: 0 0 10px 0;
            overflow: hidden;
            }
            
        .theme .current-theme {
            display: none;
            }
        
        .themes .theme h3 {
            font-family: "Arvo", sans-serif;
            margin: 0;
            }
        
        .themes .theme img {
            width: 100%;
            }
            
        .themes .theme input[type=radio] {
            display: none;
            }
        
    .type {
        font-weight: bold;
        }
        
    .use-theme {
        width: 100%;
        margin: 0;
        padding: 0 !important;
        }
        
    /* System Information
    ================================================== */
    
    #info-field {
        word-wrap: break-word;
        }
